{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "AdConfiguration Api v2"
  },
  "host": "adconfiguration.sitetest3.robloxlabs.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/sponsored-games": {
      "get": {
        "tags": [
          "SponsoredGames"
        ],
        "summary": "Gets a page of {Roblox.AdConfiguration.Api.SponsoredGameV2Model} with specified input parameters.",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "universeId",
            "in": "query",
            "description": "The universe id of the ad campaign.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeReportingStats",
            "in": "query",
            "description": "Indicates whether to include reporting stats in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isArchived",
            "in": "query",
            "description": "Indicates whether to retrieve archived ads.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pageCursor",
            "in": "query",
            "description": "The cursor of the page to retrieve.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.GetSponsoredGamesResponse"
            }
          },
          "400": {
            "description": "9: Cannot load the universe for the specified universe id.\r\n9: Cannot load the universe for the specified universe id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:GetSponsoredGamesAsync"
          ]
        }
      }
    },
    "/v2/sponsored-games/universes": {
      "get": {
        "tags": [
          "SponsoredGames"
        ],
        "summary": "Gets a list of universes for the authenticated user, or the given group, ordered by most recently created sponsored game ads.",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "description": "The group id, if applicable.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.GetRecentAdsRankedUniversesResponse"
            }
          },
          "400": {
            "description": "19: Invalid group id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "10: Insufficient permissions."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:GetRecentAdsRankedUniversesAsync"
          ]
        }
      }
    },
    "/v2/sponsored-games/create": {
      "post": {
        "tags": [
          "SponsoredGames"
        ],
        "summary": "Creates a new sponsored game ad with specified input parameters.",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "{Roblox.AdConfiguration.Api.CreateSponsoredGameV2Request}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.CreateSponsoredGameV2Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "2: Daily budget is lower than minimum allowed.\r\n3: Total budget must be greater than 0.\r\n4: Ad name cannot be empty.\r\n5: Start date must not be a future date.\r\n6: End date must be a future date.\r\n7: Start date must be earlier than end date.\r\n8: Total budget does not match daily spend and number of days being scheduled\r\n9: Cannot load the universe for the specified universe id.\r\n11: Invalid target age bracket.\r\n12: Invalid target gender.\r\n13: Invalid target device type."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n10: Insufficient permissions."
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:CreateSponsoredGameAsync"
          ]
        }
      }
    },
    "/v2/sponsored-games/stop": {
      "post": {
        "tags": [
          "SponsoredGames"
        ],
        "summary": "To stop a sponsored-game ad (ad set) from running, initiated by a user.",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "{Roblox.AdConfiguration.Api.Models.StopSponsoredGameV2Request}",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.StopSponsoredGameV2Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
            }
          },
          "400": {
            "description": "14: Invalid ad set id."
          },
          "401": {
            "description": "0: Authorization has been denied for this request."
          },
          "403": {
            "description": "0: Token Validation Failed\r\n10: Insufficient permissions."
          },
          "503": {
            "description": "1: This feature is disabled."
          }
        },
        "properties": {
          "internal": false,
          "metricIds": [
            "SponsoredGamesV2:StopSponsoredGameAsync"
          ]
        }
      }
    }
  },
  "definitions": {
    "Roblox.AdConfiguration.Api.CreateSponsoredGameV2Request": {
      "description": "A request model for creating a sponsored game",
      "type": "object",
      "properties": {
        "universeId": {
          "format": "int64",
          "description": "The target universe id",
          "type": "integer"
        },
        "targetGender": {
          "description": "Targeting gender(s) of the ad set",
          "enum": [
            "Undefined",
            "Male",
            "Female"
          ],
          "type": "string"
        },
        "targetAgeBracket": {
          "description": "Targeting age bracket(s) of the ad set",
          "enum": [
            "Undefined",
            "AgeUnder13",
            "Age13OrOver"
          ],
          "type": "string"
        },
        "budgetInRobux": {
          "format": "int64",
          "description": "The budget in Robux",
          "type": "integer"
        },
        "startDate": {
          "format": "date-time",
          "description": "The start date of the ad set",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end date of the ad set",
          "type": "string"
        },
        "targetDeviceType": {
          "description": "Targeting device type(s) of the ad set",
          "enum": [
            "Undefined",
            "Computer",
            "Phone",
            "Tablet",
            "Console"
          ],
          "type": "string"
        },
        "adName": {
          "description": "The name of the Ad",
          "type": "string"
        },
        "bidAmountInRobux": {
          "format": "int64",
          "description": "The bid amount of the Ad in Robux",
          "type": "integer"
        }
      }
    },
    "Roblox.Web.WebAPI.ApiEmptyResponseModel": {
      "type": "object",
      "properties": {}
    },
    "Roblox.AdConfiguration.Api.GetSponsoredGamesResponse": {
      "description": "A response model for retrieving a page of {Roblox.AdConfiguration.Api.SponsoredGameV2Model}.",
      "type": "object",
      "properties": {
        "sponsoredGames": {
          "description": "A collection of {Roblox.AdConfiguration.Api.SponsoredGameV2Model}.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.AdConfiguration.Api.SponsoredGameV2Model"
          }
        },
        "previousPageCursor": {
          "description": "The cursor for retrieving the previous page, if present.",
          "type": "string"
        },
        "nextPageCursor": {
          "description": "The cursor for retrieving the next page, if present.",
          "type": "string"
        }
      }
    },
    "Roblox.AdConfiguration.Api.SponsoredGameV2Model": {
      "description": "A response model represents an Ad with complete information, including infos from its associated campaign and ad set",
      "type": "object",
      "properties": {
        "adId": {
          "format": "int64",
          "description": "The id of the ad",
          "type": "integer"
        },
        "adSetId": {
          "format": "int64",
          "description": "The id of the ad set",
          "type": "integer"
        },
        "adName": {
          "description": "The name of the Ad",
          "type": "string"
        },
        "adStatus": {
          "description": "The status of the ad",
          "enum": [
            "Undefined",
            "Draft",
            "PendingApproval",
            "Approved",
            "Moderated"
          ],
          "type": "string"
        },
        "creativeType": {
          "description": "The type of the creative associated with the Ad",
          "enum": [
            "Undefined",
            "Image"
          ],
          "type": "string"
        },
        "creativeTargetId": {
          "format": "int64",
          "description": "The target id of the creative associated with the Ad",
          "type": "integer"
        },
        "creativeUrl": {
          "description": "The Url of the creative",
          "type": "string"
        },
        "bidAmountInRobux": {
          "format": "int64",
          "description": "The bid amount of the Ad in Robux",
          "type": "integer"
        },
        "budgetInRobux": {
          "format": "int64",
          "description": "The budget of the ad set in Robux",
          "type": "integer"
        },
        "adSetStatus": {
          "description": "The status of the ad set",
          "enum": [
            "Undefined",
            "Draft",
            "Scheduled",
            "Running",
            "Paused",
            "Stopped",
            "Completed"
          ],
          "type": "string"
        },
        "startDate": {
          "format": "date-time",
          "description": "The start date of the ad set",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "The end date of the ad set",
          "type": "string"
        },
        "targetGender": {
          "description": "The target gender of the ad set",
          "enum": [
            "Undefined",
            "Male",
            "Female"
          ],
          "type": "string"
        },
        "targetAgeBracket": {
          "description": "The target age bracket of the ad set",
          "enum": [
            "Undefined",
            "AgeUnder13",
            "Age13OrOver"
          ],
          "type": "string"
        },
        "targetDeviceType": {
          "description": "The target device type of the ad set",
          "enum": [
            "Undefined",
            "Computer",
            "Phone",
            "Tablet",
            "Console"
          ],
          "type": "string"
        },
        "campaignTargetType": {
          "description": "The target type of the campaign",
          "enum": [
            "Undefined",
            "Universe"
          ],
          "type": "string"
        },
        "campaignTargetId": {
          "format": "int64",
          "description": "The target id of the campaign",
          "type": "integer"
        },
        "totalSpendInRobux": {
          "format": "int64",
          "description": "The total spend of the ad set in Robux",
          "type": "integer"
        },
        "totalImpressions": {
          "format": "int64",
          "description": "The total number of impressions generated by the ad",
          "type": "integer"
        },
        "totalClicks": {
          "format": "int64",
          "description": "The total number of clicks generated by the ad",
          "type": "integer"
        },
        "totalConversions": {
          "format": "int64",
          "description": "The total number of conversions generated by the ad",
          "type": "integer"
        },
        "impressionConversions": {
          "format": "int64",
          "description": "The number of conversions by ad impression generated by the ad",
          "type": "integer"
        },
        "clickConversions": {
          "format": "int64",
          "description": "The number of conversions by ad click generated by the ad",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.StopSponsoredGameV2Request": {
      "description": "A model represents a request to stop a sponsored game ad.",
      "type": "object",
      "properties": {
        "adSetId": {
          "format": "int64",
          "description": "Gets the ID of the ad set to stop.",
          "type": "integer"
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.GetRecentAdsRankedUniversesResponse": {
      "description": "The response model for getting a list of recent-ads-ranked universes.",
      "type": "object",
      "properties": {
        "universes": {
          "description": "Gets or sets a list of {Roblox.AdConfiguration.Api.Models.UniverseModel}.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Roblox.AdConfiguration.Api.Models.UniverseModel"
          }
        }
      }
    },
    "Roblox.AdConfiguration.Api.Models.UniverseModel": {
      "description": "Represents a universe in API endpoint results.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "The universe Id.",
          "type": "integer"
        },
        "name": {
          "description": "The name of the universe",
          "type": "string"
        }
      }
    }
  }
}