body,
html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 'Lato', sans-serif;
	color: #777;
}

.bgimg-1 {
	position: relative;
	opacity: 0.96;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bgimg-1 {
	background-image: url('/images/soon_bg.jpg');
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 100%;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border {
	border-radius: 15px;
	border-style: solid;
	border-color: rgb(44, 44, 44);
	background-color: rgba(59, 56, 56, 0.5);
	opacity: 1;
	color: #21b593;
	padding: 20px;
	text-shadow: 5px 5px 8px #000000;
	font-size: 45px;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px 'Lato', sans-serif;
	color: #111;
}
