{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "ClientSettings Api v1"
    },
    "host": "clientsettings.sitetest3.robloxlabs.com",
    "schemes": ["https"],
    "paths": {
        "/v1/client-version/{binaryType}": {
            "get": {
                "tags": ["VersionCheck"],
                "summary": "Get client version information for specific binary type",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                    "name": "binaryType",
                    "in": "path",
                    "description": "Platform(WindowsPlayer, WindowsStudio, MacPlayer or MacStudio) for which we want the latest version",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Roblox.ClientSettings.Api.Models.Response.ClientVersionResponse"
                        }
                    }
                },
                "properties": {
                    "internal": false,
                    "metricIds": ["VersionCheck:GetClientVersion"]
                }
            }
        },
        "/v1/installer-cdns": {
            "get": {
                "tags": ["Cdn"],
                "summary": "Get information about which CDNs to use for installation.",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "properties": {
                    "internal": false,
                    "metricIds": ["Cdn:GetInstallerCdns"]
                }
            }
        },
        "/v1/mobile-client-version": {
            "get": {
                "tags": ["VersionCheck"],
                "summary": "Get mobile client version information based on app version parameter",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                    "name": "appVersion",
                    "in": "query",
                    "description": "AppiOSV2.13, AppVersioniOS2.0.1, etc",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Roblox.ClientSettings.Api.Models.Response.MobileClientVersionResponse"
                        }
                    },
                    "400": {
                        "description": "2: Invalid binaryType."
                    }
                },
                "properties": {
                    "internal": false,
                    "metricIds": ["VersionCheck:MobileGetClientVersion"]
                }
            }
        },
        "/v1/settings/application": {
            "get": {
                "tags": ["ClientApplicationSettings"],
                "summary": "Returns the complete settings dictionary for a Roblox client application.",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                    "name": "applicationName",
                    "in": "query",
                    "description": "The name of the client application.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "True-Client-IP",
                    "in": "header",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Roblox.ClientSettings.Api.Models.Response.ClientApplicationSettingsResponse"
                        }
                    },
                    "400": {
                        "description": "1: The application name is invalid."
                    },
                    "403": {
                        "description": "1: The application name is invalid."
                    }
                },
                "properties": {
                    "internal": true,
                    "metricIds": ["ClientApplicationSettings:GetClientApplicationSettings"]
                }
            }
        },
        "/v1/settings/gameserver": {
            "get": {
                "tags": ["ClientApplicationSettings"],
                "summary": "Returns game server settings to requests from RCC game servers.",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Roblox.ClientSettings.Api.Models.Response.ClientApplicationSettingsResponse"
                        }
                    }
                },
                "properties": {
                    "internal": true,
                    "metricIds": ["ClientApplicationSettings:GetGameserverSettings"]
                }
            }
        },
        "/v1/settings/secured-settings": {
            "get": {
                "tags": ["ClientApplicationSettings"],
                "summary": "Returns the complete settings dictionary for a RCC-only Roblox client application.",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                    "name": "applicationName",
                    "in": "query",
                    "description": "The name of the client application.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "Roblox-Api-Key",
                    "in": "header",
                    "description": "API Key for request",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Roblox.ClientSettings.Api.Models.Response.ClientApplicationSettingsResponse"
                        }
                    },
                    "400": {
                        "description": "1: The application name is invalid."
                    },
                    "403": {
                        "description": "3: The api key is invalid.\r\n4: The Ip address is invalid."
                    }
                },
                "properties": {
                    "internal": true,
                    "metricIds": ["ClientApplicationSettings:GetRccOnlyClientApplicationSettings"]
                }
            }
        },
        "/v1/settings/secured-settings-internal": {
            "get": {
                "tags": ["ClientApplicationSettings"],
                "summary": "Returns the complete settings dictionary for a Roblox client application for internal dev use only.",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [{
                    "name": "applicationName",
                    "in": "query",
                    "description": "The name of the client application.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "Roblox-Api-Key",
                    "in": "header",
                    "description": "API Key for request",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Roblox.ClientSettings.Api.Models.Response.ClientApplicationSettingsResponse"
                        }
                    },
                    "400": {
                        "description": "1: The application name is invalid."
                    },
                    "403": {
                        "description": "3: The api key is invalid.\r\n4: The Ip address is invalid."
                    }
                },
                "properties": {
                    "internal": true,
                    "metricIds": ["ClientApplicationSettings:GetClientApplicationSettingsInternalOnly"]
                }
            }
        }
    },
    "definitions": {
        "Roblox.ClientSettings.Api.Models.Response.ClientApplicationSettingsResponse": {
            "type": "object",
            "properties": {
                "applicationSettings": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "Roblox.ClientSettings.Api.Models.Response.ClientVersionResponse": {
            "type": "object",
            "properties": {
                "version": {
                    "type": "string"
                },
                "clientVersionUpload": {
                    "type": "string"
                },
                "bootstrapperVersion": {
                    "type": "string"
                },
                "nextClientVersionUpload": {
                    "type": "string"
                },
                "nextClientVersion": {
                    "type": "string"
                }
            }
        },
        "Roblox.ClientSettings.Api.Models.Response.MobileClientVersionResponse": {
            "type": "object",
            "properties": {
                "activeVersion": {
                    "type": "string"
                },
                "upgradeSource": {
                    "type": "string"
                },
                "MD5Sum": {
                    "type": "string"
                },
                "data": {
                    "type": "object"
                }
            }
        }
    }
}