logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.cpuprofile
*.heapprofile
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
jspm_packages/
node_modules/
typings/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env.test
.cache
.next
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.npmignore
package-lock.json
# We don't want the js'
/Source/Bin
DeploymentTooling
server.log
/Default/FormattedSettings.json
/Default/OutputSettings.json
/StaticPages/CDN/Roblox.SetupCDN
/Source/Assemblies/Grid/Roblox.Grid.Rcc
Nomad2
DbTest.spec.ts
ServiceClient.spec.ts