{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "Catalog Api v1"
	},
	"host": "catalog.sitetest3.robloxlabs.com",
	"schemes": ["https"],
	"paths": {
		"/v1/assets/{assetId}/bundles": {
			"get": {
				"tags": ["Bundle"],
				"summary": "Lists the bundles a particular asset belongs to. Use the Id of the last bundle in the response to get the next page.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "The order the results are sorted in.",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Catalog.Api.BundleDetailsModel]"
						}
					},
					"400": {
						"description": "1: Invalid assetId\r\n4: Invalid Cursor."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:GetBundlesByAssetId"]
				}
			}
		},
		"/v1/asset-to-category": {
			"get": {
				"tags": ["Category"],
				"summary": "Lists a mapping for assets to category IDs to convert from inventory ID to catalog ID. Creates a mapping to link 'Get More' button in inventory page to the relevant catalog page.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"additionalProperties": {
								"format": "int64",
								"type": "integer"
							}
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Category:GetAssetToCategoryMap"]
				}
			}
		},
		"/v1/asset-to-subcategory": {
			"get": {
				"tags": ["Category"],
				"summary": "Lists a mapping for assets to subcategory IDs to convert from inventory ID to catalog ID. Creates a mapping to link 'Get More' button in inventory page to the relevant catalog page.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"additionalProperties": {
								"format": "int64",
								"type": "integer"
							}
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Category:GetAssetToSubcategoryMap"]
				}
			}
		},
		"/v1/bundles/{bundleId}/details": {
			"get": {
				"tags": ["Bundle"],
				"summary": "Returns details about the given bundleId.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "bundleId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.BundleDetailsModel"
						}
					},
					"400": {
						"description": "1: Invalid bundle"
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:GetBundleDetails"]
				}
			}
		},
		"/v1/bundles/{bundleId}/recommendations": {
			"get": {
				"tags": ["Bundle"],
				"summary": "Gets recommendations for a given bundle, bundleId of 0 returns randomized bundles\r\n- Accepts both public and authenticated users",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "bundleId",
						"in": "path",
						"description": "",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "numItems",
						"in": "query",
						"description": "The number of recommended items to return.",
						"required": false,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Catalog.Api.BundleDetailsModel]"
						}
					},
					"400": {
						"description": "1: Invalid bundle\r\n2: Error retrieving bundles\r\n3: Error getting bundle recommendations\r\n4: NumItems exceed maximum"
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:GetBundleRecommendations"]
				}
			}
		},
		"/v1/bundles/details": {
			"get": {
				"tags": ["Bundle"],
				"summary": "Returns details about the given bundleIds.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "bundleIds",
						"in": "query",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Roblox.Catalog.Api.BundleDetailsModel"
							}
						}
					},
					"400": {
						"description": "2: Invalid collection of bundleIds\r\n3: Cannot request so many bundles at once."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:GetBundlesDetails"]
				}
			}
		},
		"/v1/catalog/items/{itemId}/details": {
			"get": {
				"tags": ["Catalog"],
				"summary": "Returns catalog item details, complete with user ownership and economy information",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "itemId",
						"in": "path",
						"description": "long, id of the asset or bundle",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "itemType",
						"in": "query",
						"description": "String, asset or bundle only",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchDetailedCompleteResponseItem"
						}
					},
					"400": {
						"description": "9: itemType must be either asset or bundle"
					},
					"403": {
						"description": "7: User is unauthorized."
					},
					"429": {
						"description": "8: The flood limit has been exceeded."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Catalog:GetItemDetailsComplete"]
				}
			}
		},
		"/v1/catalog/metadata": {
			"get": {
				"tags": ["Catalog"],
				"summary": "Return Metadata for Catalog Webpage",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.CatalogMetadataModel"
						}
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Catalog:GetMetadata"]
				}
			}
		},
		"/v1/catalog/sorts": {
			"get": {
				"tags": ["Catalog"],
				"summary": "Returns catalog sorts",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSortsResponseModel"
						}
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Catalog:GetCatalogSorts"]
				}
			}
		},
		"/v1/categories": {
			"get": {
				"tags": ["Category"],
				"summary": "Lists Category Names and their Ids",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"additionalProperties": {
								"format": "int64",
								"type": "integer"
							}
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Category:GetCategories"]
				}
			}
		},
		"/v1/exclusive-items/{appStoreType}/bundles": {
			"get": {
				"tags": ["ExclusiveItems"],
				"summary": "Lists the exclusive catalog items for a particular app store.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "appStoreType",
						"in": "path",
						"required": true,
						"type": "string",
						"enum": ["GooglePlay", "Amazon", "iOS", "Xbox"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiLegacyPageResponse[Roblox.Catalog.Api.CatalogItemModel]"
						}
					},
					"400": {
						"description": "1: Invalid app store."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["ExclusiveItems:GetExclusiveItems"]
				}
			}
		},
		"/v1/favorites/assets/{assetId}/count": {
			"get": {
				"tags": ["Favorites"],
				"summary": "Gets the favorite count for the given asset Id.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int64",
							"type": "integer"
						}
					},
					"400": {
						"description": "2: Invalid asset Id."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:GetAssetFavoritesCount"]
				}
			}
		},
		"/v1/favorites/bundles/{bundleId}/count": {
			"get": {
				"tags": ["Favorites"],
				"summary": "Gets the favorite count for the given bundle Id.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "bundleId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int64",
							"type": "integer"
						}
					},
					"400": {
						"description": "2: Invalid bundle Id."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:GetBundleFavoritesCount"]
				}
			}
		},
		"/v1/favorites/users/{userId}/assets/{assetId}/favorite": {
			"get": {
				"tags": ["Favorites"],
				"summary": "Gets the favorite model for the asset and user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.AssetFavoriteModel"
						}
					},
					"400": {
						"description": "1: Invalid user Id.\r\n2: Invalid asset Id."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:GetAssetFavorite"]
				}
			},
			"post": {
				"tags": ["Favorites"],
				"summary": "Create a favorite for an asset by the authenticated user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "1: Invalid user Id.\r\n2: Invalid asset Id."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n6: You are not authorized to perform this action."
					},
					"409": {
						"description": "3: Asset is already favorited."
					},
					"429": {
						"description": "5: This action was floodchecked. Please try again later."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:CreateAssetFavorite"]
				}
			},
			"delete": {
				"tags": ["Favorites"],
				"summary": "Delete a favorite for an asset by the authenticated user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "1: Invalid user Id.\r\n2: Invalid asset Id."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n6: You are not authorized to perform this action."
					},
					"409": {
						"description": "4: Asset is already not favorited."
					},
					"429": {
						"description": "5: This action was floodchecked. Please try again later."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:DeleteFavorite"]
				}
			}
		},
		"/v1/favorites/users/{userId}/bundles/{bundleId}/favorite": {
			"get": {
				"tags": ["Favorites"],
				"summary": "Gets the favorite model for the bundle and user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "bundleId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.BundleFavoriteModel"
						}
					},
					"400": {
						"description": "1: Invalid user Id.\r\n2: Invalid bundle Id."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:GetBundleFavorite"]
				}
			},
			"post": {
				"tags": ["Favorites"],
				"summary": "Create a favorite for the bundle by the authenticated user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "bundleId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "1: Invalid user Id.\r\n2: Invalid bundle Id."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n6: You are not authorized to perform this action."
					},
					"409": {
						"description": "3: Bunde is already favorited."
					},
					"429": {
						"description": "5: This action was floodchecked. Please try again later."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:CreateBundleFavorite"]
				}
			},
			"delete": {
				"tags": ["Favorites"],
				"summary": "Delete favorite for the bundle by the authenticated user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "bundleId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "1: Invalid user Id.\r\n2: Invalid bundle Id."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n6: You are not authorized to perform this action."
					},
					"409": {
						"description": "4: Bundle is already not favorited."
					},
					"429": {
						"description": "5: This action was floodchecked. Please try again later."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Favorites:DeleteBundleFavorite"]
				}
			}
		},
		"/v1/recommendations/asset/{assetTypeId}": {
			"get": {
				"tags": ["Recommendations"],
				"summary": "Gets a list of recommended assets, given an asset type\r\n- Migrated from Inventory.Api, functional similarity preserved",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetTypeId",
						"in": "path",
						"description": "The asset type id {Roblox.AssetType}",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "numItems",
						"in": "query",
						"description": "The number of recommended items to return.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "contextAssetId",
						"in": "query",
						"description": "Optional asset id",
						"required": false,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiLegacyPageResponse[Roblox.Catalog.Api.RecommendationViewModelV2]"
						}
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Recommendations:GetRecommendedItemsByAssetTypeId"]
				}
			}
		},
		"/v1/recommendations/metadata": {
			"get": {
				"tags": ["Recommendations"],
				"summary": "Return Metadata for Recommendations Component based on the page it is used on",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.RecommendationsMetadataModel"
						}
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Recommendations:GetMetadata"]
				}
			}
		},
		"/v1/search/items": {
			"get": {
				"tags": ["Search"],
				"summary": "Search for avatarCatalog item ids",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "model.category",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": [
							"Accessories",
							"All",
							"AvatarAnimations",
							"BodyParts",
							"Clothing",
							"Collectibles",
							"Featured",
							"Gear",
							"CommunityCreations",
							"Premium",
							"Recommended"
						]
					},
					{
						"name": "model.subcategory",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": [
							"Accessories",
							"All",
							"AvatarAnimations",
							"BackAccessories",
							"BodyParts",
							"Clothing",
							"Collectibles",
							"FaceAccessories",
							"Faces",
							"Featured",
							"FrontAccessories",
							"Gear",
							"HairAccessories",
							"Hats",
							"Heads",
							"NeckAccessories",
							"Pants",
							"Shirts",
							"ShoulderAccessories",
							"Tshirts",
							"WaistAccessories",
							"Bundles",
							"AnimationBundles",
							"EmoteAnimations",
							"CommunityCreations",
							"Melee",
							"Ranged",
							"Explosive",
							"PowerUp",
							"Navigation",
							"Musical",
							"Social",
							"Building",
							"Transport",
							"Premium",
							"Recommended"
						]
					},
					{
						"name": "model.sortAggregation",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["Past12Hours", "PastDay", "Past3Days", "PastWeek", "PastMonth", "AllTime"]
					},
					{
						"name": "model.sortCurrency",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"]
					},
					{
						"name": "model.genres",
						"in": "query",
						"required": false,
						"type": "array",
						"items": {
							"type": "string"
						},
						"collectionFormat": "multi"
					},
					{
						"name": "model.sortType",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["Relevance", "Favorited", "Sales", "Updated", "PriceAsc", "PriceDesc"]
					},
					{
						"name": "model.creatorType",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["User", "Group"]
					},
					{
						"name": "model.premiumBenefitFilterType",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["None", "PremiumDiscountedOnly", "PremiumExclusiveOnly"]
					},
					{
						"name": "model.creatorTargetId",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "model.creatorName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "model.maxPrice",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "model.minPrice",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "model.keyword",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "model.includeNotForSale",
						"in": "query",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "model.tagNames",
						"in": "query",
						"required": false,
						"type": "array",
						"items": {
							"type": "string"
						},
						"collectionFormat": "multi"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "The order the results are sorted in.",
						"required": false,
						"type": "string",
						"default": "Desc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 28, 30, 50, 60, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchPageResponse[Roblox.Catalog.Api.CatalogSearchResponseItem]"
						}
					},
					"400": {
						"description": "1: Category subcategory selection not supported.\r\n2: Creator id not found.\r\n3: Creator type not found.\r\n4: Genre not found.\r\n5: Sort combination not supported.\r\n6: Invalid price range.\r\n10: StartRequest is invalid."
					},
					"403": {
						"description": "7: User is unauthorized."
					},
					"429": {
						"description": "8: The flood limit has been exceeded."
					},
					"503": {
						"description": "18: Search request timed out"
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Search:SearchCatalogItems"]
				}
			}
		},
		"/v1/search/items/details": {
			"get": {
				"tags": ["Search"],
				"summary": "Search for avatarCatalog items",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "model.category",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": [
							"Accessories",
							"All",
							"AvatarAnimations",
							"BodyParts",
							"Clothing",
							"Collectibles",
							"Featured",
							"Gear",
							"CommunityCreations",
							"Premium",
							"Recommended"
						]
					},
					{
						"name": "model.subcategory",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": [
							"Accessories",
							"All",
							"AvatarAnimations",
							"BackAccessories",
							"BodyParts",
							"Clothing",
							"Collectibles",
							"FaceAccessories",
							"Faces",
							"Featured",
							"FrontAccessories",
							"Gear",
							"HairAccessories",
							"Hats",
							"Heads",
							"NeckAccessories",
							"Pants",
							"Shirts",
							"ShoulderAccessories",
							"Tshirts",
							"WaistAccessories",
							"Bundles",
							"AnimationBundles",
							"EmoteAnimations",
							"CommunityCreations",
							"Melee",
							"Ranged",
							"Explosive",
							"PowerUp",
							"Navigation",
							"Musical",
							"Social",
							"Building",
							"Transport",
							"Premium",
							"Recommended"
						]
					},
					{
						"name": "model.sortAggregation",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["Past12Hours", "PastDay", "Past3Days", "PastWeek", "PastMonth", "AllTime"]
					},
					{
						"name": "model.sortCurrency",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"]
					},
					{
						"name": "model.genres",
						"in": "query",
						"required": false,
						"type": "array",
						"items": {
							"type": "string"
						},
						"collectionFormat": "multi"
					},
					{
						"name": "model.sortType",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["Relevance", "Favorited", "Sales", "Updated", "PriceAsc", "PriceDesc"]
					},
					{
						"name": "model.creatorType",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["User", "Group"]
					},
					{
						"name": "model.premiumBenefitFilterType",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["None", "PremiumDiscountedOnly", "PremiumExclusiveOnly"]
					},
					{
						"name": "model.creatorTargetId",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "model.creatorName",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "model.maxPrice",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "model.minPrice",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "model.keyword",
						"in": "query",
						"required": false,
						"type": "string"
					},
					{
						"name": "model.includeNotForSale",
						"in": "query",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "model.tagNames",
						"in": "query",
						"required": false,
						"type": "array",
						"items": {
							"type": "string"
						},
						"collectionFormat": "multi"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "The order the results are sorted in.",
						"required": false,
						"type": "string",
						"default": "Desc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 28, 30]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchPageResponse[Roblox.Catalog.Api.CatalogSearchDetailedResponseItem]"
						}
					},
					"400": {
						"description": "1: Category subcategory selection not supported.\r\n2: Creator id not found.\r\n3: Creator type not found.\r\n4: Genre not found.\r\n5: Sort combination not supported.\r\n6: Invalid price range.\r\n10: StartRequest is invalid."
					},
					"403": {
						"description": "7: User is unauthorized."
					},
					"429": {
						"description": "8: The flood limit has been exceeded."
					},
					"503": {
						"description": "18: Search request timed out"
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Search:SearchCatalogItemDetails"]
				}
			}
		},
		"/v1/search/navigation-menu-items": {
			"get": {
				"tags": ["Search"],
				"summary": "Return Navigation Menu Items for Catalog Webpage",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.CatalogMenuItemsResponseModel"
						}
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Search:GetNavigationMenuItems"]
				}
			}
		},
		"/v1/subcategories": {
			"get": {
				"tags": ["Category"],
				"summary": "Lists Subcategory Names and their Ids",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"additionalProperties": {
								"format": "int64",
								"type": "integer"
							}
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Category:GetSubcategories"]
				}
			}
		},
		"/v1/users/{userId}/bundles": {
			"get": {
				"tags": ["Bundle"],
				"summary": "Lists the bundles owned by a given user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by bundle",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Catalog.Api.OwnedBundleModel]"
						}
					},
					"400": {
						"description": "1: Invalid bundle"
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:GetOwnedBundles"]
				}
			}
		},
		"/v1/users/{userId}/bundles/{bundleType}": {
			"get": {
				"tags": ["Bundle"],
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "bundleType",
						"in": "path",
						"required": true,
						"type": "string",
						"enum": ["BodyParts", "AvatarAnimations"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "The order the results are sorted in.",
						"required": false,
						"type": "string",
						"default": "Desc",
						"enum": ["Asc", "Desc"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Catalog.Api.OwnedBundleModel]"
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:GetOwnedBundlesByBundleType"]
				}
			}
		},
		"/v1/bundles/{bundleId}/unpack": {
			"post": {
				"tags": ["Bundle"],
				"summary": "Unpacks a bundle and grants all of the associated items.\r\nIt may take a few seconds for all items to be granted after the request finishes.",
				"consumes": [],
				"produces": [],
				"parameters": [
					{
						"name": "bundleId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"204": {
						"description": "No Content"
					},
					"400": {
						"description": "1: Invalid bundle\r\n2: Bundle is not owned"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed"
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Bundle:UnpackBundle"]
				}
			}
		},
		"/v1/catalog/items/details": {
			"post": {
				"tags": ["Catalog"],
				"summary": "Returns list of item details",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "model",
						"in": "body",
						"description": "{Roblox.Catalog.Api.MultigetItemDetailsRequestModel}",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Catalog.Api.MultigetItemDetailsRequestModel"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Catalog.Api.CatalogSearchDetailedResponseItem]"
						}
					},
					"400": {
						"description": "2: Invalid count"
					},
					"403": {
						"description": "0: Token Validation Failed\r\n7: User is unauthorized."
					},
					"429": {
						"description": "8: The flood limit has been exceeded."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Catalog:GetItemDetails"]
				}
			}
		}
	},
	"definitions": {
		"Roblox.Catalog.Api.BundleDetailsModel": {
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer",
					"readOnly": true
				},
				"name": {
					"type": "string",
					"readOnly": true
				},
				"description": {
					"type": "string",
					"readOnly": true
				},
				"bundleType": {
					"type": "string",
					"readOnly": true
				},
				"items": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.BundleItemDetailModel"
					},
					"readOnly": true
				},
				"creator": {
					"$ref": "#/definitions/Roblox.Catalog.Api.BundleCreatorModel",
					"readOnly": true
				},
				"product": {
					"$ref": "#/definitions/Roblox.Catalog.Api.BundleProductModel",
					"readOnly": true
				}
			}
		},
		"Roblox.Catalog.Api.BundleItemDetailModel": {
			"type": "object",
			"properties": {
				"owned": {
					"type": "boolean",
					"readOnly": true
				},
				"id": {
					"format": "int64",
					"type": "integer",
					"readOnly": true
				},
				"name": {
					"type": "string",
					"readOnly": true
				},
				"type": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Catalog.Api.BundleCreatorModel": {
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer",
					"readOnly": true
				},
				"name": {
					"type": "string",
					"readOnly": true
				},
				"type": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Catalog.Api.BundleProductModel": {
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer"
				},
				"type": {
					"type": "string"
				},
				"isPublicDomain": {
					"type": "boolean"
				},
				"isForSale": {
					"type": "boolean"
				},
				"priceInRobux": {
					"format": "int64",
					"type": "integer"
				},
				"isFree": {
					"type": "boolean"
				},
				"noPriceText": {
					"type": "string"
				},
				"premiumPricing": {
					"$ref": "#/definitions/Roblox.Catalog.Api.PremiumPricingModel"
				}
			}
		},
		"Roblox.Catalog.Api.PremiumPricingModel": {
			"description": "Defines the Premium pricing for a catalog item",
			"type": "object",
			"properties": {
				"premiumDiscountPercentage": {
					"format": "int32",
					"description": "The Premium discount percentage for a catalog item",
					"type": "integer"
				},
				"premiumPriceInRobux": {
					"format": "int64",
					"description": "The Premium price for a catalog item",
					"type": "integer"
				}
			}
		},
		"Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Catalog.Api.BundleDetailsModel]": {
			"type": "object",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.BundleDetailsModel"
					}
				}
			}
		},
		"Roblox.Web.WebAPI.ExclusiveStartRequest[Roblox.Platform.Bundles.Core.IBundleInstance]": {
			"type": "object",
			"properties": {
				"ExclusiveStartKeyInfo": {
					"$ref": "#/definitions/Roblox.Platform.Core.ExclusiveStartPaging.IExclusiveStartKeyInfo[Roblox.Platform.Bundles.Core.IBundleInstance]",
					"readOnly": true
				},
				"CursorRecipe": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Platform.Core.ExclusiveStartPaging.IExclusiveStartKeyInfo[Roblox.Platform.Bundles.Core.IBundleInstance]": {
			"type": "object",
			"properties": {
				"SortOrder": {
					"enum": ["Asc", "Desc"],
					"type": "string",
					"readOnly": true
				},
				"PagingDirection": {
					"enum": ["Forward", "Backward"],
					"type": "string",
					"readOnly": true
				},
				"Count": {
					"format": "int32",
					"type": "integer",
					"readOnly": true
				}
			}
		},
		"Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Catalog.Api.OwnedBundleModel]": {
			"type": "object",
			"properties": {
				"previousPageCursor": {
					"type": "string"
				},
				"nextPageCursor": {
					"type": "string"
				},
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.OwnedBundleModel"
					}
				}
			}
		},
		"Roblox.Catalog.Api.OwnedBundleModel": {
			"description": "A model to represent owned bundles.",
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer",
					"readOnly": true
				},
				"name": {
					"type": "string",
					"readOnly": true
				},
				"bundleType": {
					"type": "string",
					"readOnly": true
				},
				"creator": {
					"$ref": "#/definitions/Roblox.Catalog.Api.BundleCreatorModel",
					"readOnly": true
				}
			}
		},
		"Roblox.Paging.ExclusiveStartKeyCursor[System.Nullable[System.Int64]]": {
			"type": "object",
			"properties": {
				"key": {
					"format": "int64",
					"type": "integer"
				},
				"sortOrder": {
					"enum": ["Asc", "Desc"],
					"type": "string"
				},
				"pagingDirection": {
					"enum": ["Forward", "Backward"],
					"type": "string"
				},
				"pageNumber": {
					"format": "int32",
					"type": "integer"
				},
				"discriminator": {
					"type": "string"
				},
				"count": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Roblox.Web.WebAPI.ExclusiveStartRequest[System.Int64]": {
			"type": "object",
			"properties": {
				"ExclusiveStartKeyInfo": {
					"$ref": "#/definitions/Roblox.Platform.Core.ExclusiveStartPaging.IExclusiveStartKeyInfo[System.Int64]",
					"readOnly": true
				},
				"CursorRecipe": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Platform.Core.ExclusiveStartPaging.IExclusiveStartKeyInfo[System.Int64]": {
			"type": "object",
			"properties": {
				"SortOrder": {
					"enum": ["Asc", "Desc"],
					"type": "string",
					"readOnly": true
				},
				"PagingDirection": {
					"enum": ["Forward", "Backward"],
					"type": "string",
					"readOnly": true
				},
				"Count": {
					"format": "int32",
					"type": "integer",
					"readOnly": true
				}
			}
		},
		"Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Catalog.Api.BundleDetailsModel]": {
			"type": "object",
			"properties": {
				"previousPageCursor": {
					"type": "string"
				},
				"nextPageCursor": {
					"type": "string"
				},
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.BundleDetailsModel"
					}
				}
			}
		},
		"Roblox.Catalog.Api.CatalogMetadataModel": {
			"description": "Catalog Metadata model",
			"type": "object",
			"properties": {
				"numberOfCatalogItemsToDisplayOnSplash": {
					"format": "int32",
					"description": "Default number of Splash tiles in catalog page",
					"type": "integer"
				},
				"numberOfCatalogItemsToDisplayOnSplashOnPhone": {
					"format": "int32",
					"description": "Number of splash tiles in catalog page on phone",
					"type": "integer"
				},
				"isCatalogSortsFromApiEnabled": {
					"description": "Should consumer use catalog sorts",
					"type": "boolean"
				},
				"is3dInEachItemCardAbTestingEnabled": {
					"type": "boolean"
				},
				"is3dInEachItemCardEnabled": {
					"type": "boolean"
				},
				"timeoutOn3dThumbnailRequestInMs": {
					"format": "int64",
					"type": "integer"
				},
				"isPremiumPriceOnItemTilesEnabled": {
					"description": "Determines whether Premium prices, when available, should be shown on catalog item tiles",
					"type": "boolean"
				},
				"isPremiumIconOnItemTilesEnabled": {
					"description": "Determines whether Premium icons, when applicable, should be shown on catalog item tiles",
					"type": "boolean"
				},
				"isPremiumSortEnabled": {
					"description": "Determines whether Premium sort is availabe",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.MultigetItemDetailsRequestModel": {
			"type": "object",
			"properties": {
				"items": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.MultigetItemDetailsRequestItem"
					}
				}
			}
		},
		"Roblox.Catalog.Api.MultigetItemDetailsRequestItem": {
			"type": "object",
			"properties": {
				"itemType": {
					"enum": ["Asset", "Bundle"],
					"type": "string"
				},
				"id": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Catalog.Api.CatalogSearchDetailedResponseItem]": {
			"type": "object",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchDetailedResponseItem"
					}
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSearchDetailedResponseItem": {
			"description": "The detailed model for catalog items.",
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"description": "The Item Id.",
					"type": "integer"
				},
				"itemType": {
					"description": "The {Roblox.Catalog.Api.CatalogSearchDetailedResponseItem.ItemType} item type.",
					"enum": ["Asset", "Bundle"],
					"type": "string"
				},
				"assetType": {
					"description": "The {Roblox.Platform.Assets.AssetType} serialized if item is an asset.",
					"enum": [
						"Image",
						"TShirt",
						"Audio",
						"Mesh",
						"Lua",
						"HTML",
						"Text",
						"Hat",
						"Place",
						"Model",
						"Shirt",
						"Pants",
						"Decal",
						"Avatar",
						"Head",
						"Face",
						"Gear",
						"Badge",
						"GroupEmblem",
						"Animation",
						"Arms",
						"Legs",
						"Torso",
						"RightArm",
						"LeftArm",
						"LeftLeg",
						"RightLeg",
						"Package",
						"YouTubeVideo",
						"GamePass",
						"App",
						"Code",
						"Plugin",
						"SolidModel",
						"MeshPart",
						"HairAccessory",
						"FaceAccessory",
						"NeckAccessory",
						"ShoulderAccessory",
						"FrontAccessory",
						"BackAccessory",
						"WaistAccessory",
						"ClimbAnimation",
						"DeathAnimation",
						"FallAnimation",
						"IdleAnimation",
						"JumpAnimation",
						"RunAnimation",
						"SwimAnimation",
						"WalkAnimation",
						"PoseAnimation",
						"LocalizationTableManifest",
						"LocalizationTableTranslation",
						"EmoteAnimation",
						"Video",
						"TexturePack"
					],
					"type": "string"
				},
				"bundleType": {
					"description": "The {Roblox.Platform.Bundles.Core.BundleType} serialized if item is a bundle.",
					"enum": ["BodyParts", "AvatarAnimations"],
					"type": "string"
				},
				"name": {
					"description": "The item name.",
					"type": "string"
				},
				"description": {
					"description": "The item description.",
					"type": "string"
				},
				"productId": {
					"format": "int64",
					"description": "The product id of corresponding item.",
					"type": "integer"
				},
				"genres": {
					"description": "The {System.Collections.Generic.IEnumerable`1}, serialized if item has genres.",
					"type": "array",
					"items": {
						"enum": [
							"All",
							"Tutorial",
							"Scary",
							"TownAndCity",
							"War",
							"Funny",
							"Fantasy",
							"Adventure",
							"SciFi",
							"Pirate",
							"FPS",
							"RPG",
							"Sports",
							"Ninja",
							"WildWest"
						],
						"type": "string"
					}
				},
				"bundledItems": {
					"description": "The {System.Collections.Generic.IEnumerable`1} contained in the bundle, serialized if item is a bundle.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.BundleItemDetailModel"
					}
				},
				"itemStatus": {
					"description": "The {System.Collections.Generic.IEnumerable`1} if item has {Roblox.Catalog.Api.CatalogItemStatus}.",
					"type": "array",
					"items": {
						"enum": ["New", "Sale", "XboxExclusive", "AmazonExclusive", "GooglePlayExclusive", "IosExclusive", "SaleTimer"],
						"type": "string"
					}
				},
				"itemRestrictions": {
					"description": "The {System.Collections.Generic.IEnumerable`1} if item has {Roblox.Catalog.Api.CatalogItemRestriction}.",
					"type": "array",
					"items": {
						"enum": [
							"ThirteenPlus",
							"LimitedUnique",
							"Limited",
							"BuildersClub",
							"TurboBuildersClub",
							"OutrageousBuildersClub",
							"Rthro"
						],
						"type": "string"
					}
				},
				"creatorType": {
					"description": "The {Roblox.Catalog.Api.CatalogSearchDetailedResponseItem.CreatorType} of the item's creator.",
					"enum": ["User", "Group"],
					"type": "string"
				},
				"creatorTargetId": {
					"format": "int64",
					"description": "The creator id of the item's creator.",
					"type": "integer"
				},
				"creatorName": {
					"description": "The creator name of the item's creator.",
					"type": "string"
				},
				"price": {
					"format": "int64",
					"description": "The item's price.",
					"type": "integer"
				},
				"premiumPricing": {
					"$ref": "#/definitions/Roblox.Catalog.Api.PremiumPricingModel",
					"description": "The Premium pricing information for the item."
				},
				"lowestPrice": {
					"format": "int64",
					"description": "The item's lowest price, only if the item is resellable and there are resellers.",
					"type": "integer"
				},
				"priceStatus": {
					"description": "The localized string item status if the item's price should not be displayed.",
					"type": "string"
				},
				"unitsAvailableForConsumption": {
					"format": "int64",
					"description": "The number of items in stock, only if the item is resellable and is limitedEdition",
					"type": "integer"
				},
				"purchaseCount": {
					"format": "int64",
					"description": "The number of times the item has been purchased.",
					"type": "integer"
				},
				"favoriteCount": {
					"format": "int64",
					"description": "The number of times the item has been favorited.",
					"type": "integer"
				},
				"offSaleDeadline": {
					"format": "date-time",
					"description": "When the item will go off sale, if the item has an off deadline.",
					"type": "string"
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSortsResponseModel": {
			"type": "object",
			"properties": {
				"sorts": {
					"description": "Response object representing all categories",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSortModel"
					}
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSortModel": {
			"type": "object",
			"properties": {
				"name": {
					"description": "Name of the sort",
					"type": "string"
				},
				"displayName": {
					"description": "Display name of the sort",
					"type": "string"
				},
				"numberOfItems": {
					"format": "int32",
					"description": "Number of items to be displayed for the sort",
					"type": "integer"
				},
				"items": {
					"description": "Items in the sort",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchResponseItem"
					}
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSearchResponseItem": {
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer"
				},
				"itemType": {
					"enum": ["Asset", "Bundle"],
					"type": "string"
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSearchDetailedCompleteResponseItem": {
			"description": "The detailed model for catalog items, complete with economy and ownership info",
			"type": "object",
			"properties": {
				"isForRent": {
					"description": "whether item is available for rent",
					"type": "boolean"
				},
				"expectedSellerId": {
					"format": "int64",
					"description": "Id to pass into economy purchase api\r\nuserID of lowest private seller if resellable\r\nCreator AgentID (deprecated) / CreatorTargetId otherwise",
					"type": "integer"
				},
				"owned": {
					"description": "Whether item is owned by user",
					"type": "boolean"
				},
				"isPurchasable": {
					"description": "Whether item can be purchased",
					"type": "boolean"
				},
				"id": {
					"format": "int64",
					"description": "The Item Id.",
					"type": "integer"
				},
				"itemType": {
					"description": "The {Roblox.Catalog.Api.CatalogSearchDetailedResponseItem.ItemType} item type.",
					"enum": ["Asset", "Bundle"],
					"type": "string"
				},
				"assetType": {
					"description": "The {Roblox.Platform.Assets.AssetType} serialized if item is an asset.",
					"enum": [
						"Image",
						"TShirt",
						"Audio",
						"Mesh",
						"Lua",
						"HTML",
						"Text",
						"Hat",
						"Place",
						"Model",
						"Shirt",
						"Pants",
						"Decal",
						"Avatar",
						"Head",
						"Face",
						"Gear",
						"Badge",
						"GroupEmblem",
						"Animation",
						"Arms",
						"Legs",
						"Torso",
						"RightArm",
						"LeftArm",
						"LeftLeg",
						"RightLeg",
						"Package",
						"YouTubeVideo",
						"GamePass",
						"App",
						"Code",
						"Plugin",
						"SolidModel",
						"MeshPart",
						"HairAccessory",
						"FaceAccessory",
						"NeckAccessory",
						"ShoulderAccessory",
						"FrontAccessory",
						"BackAccessory",
						"WaistAccessory",
						"ClimbAnimation",
						"DeathAnimation",
						"FallAnimation",
						"IdleAnimation",
						"JumpAnimation",
						"RunAnimation",
						"SwimAnimation",
						"WalkAnimation",
						"PoseAnimation",
						"LocalizationTableManifest",
						"LocalizationTableTranslation",
						"EmoteAnimation",
						"Video",
						"TexturePack"
					],
					"type": "string"
				},
				"bundleType": {
					"description": "The {Roblox.Platform.Bundles.Core.BundleType} serialized if item is a bundle.",
					"enum": ["BodyParts", "AvatarAnimations"],
					"type": "string"
				},
				"name": {
					"description": "The item name.",
					"type": "string"
				},
				"description": {
					"description": "The item description.",
					"type": "string"
				},
				"productId": {
					"format": "int64",
					"description": "The product id of corresponding item.",
					"type": "integer"
				},
				"genres": {
					"description": "The {System.Collections.Generic.IEnumerable`1}, serialized if item has genres.",
					"type": "array",
					"items": {
						"enum": [
							"All",
							"Tutorial",
							"Scary",
							"TownAndCity",
							"War",
							"Funny",
							"Fantasy",
							"Adventure",
							"SciFi",
							"Pirate",
							"FPS",
							"RPG",
							"Sports",
							"Ninja",
							"WildWest"
						],
						"type": "string"
					}
				},
				"bundledItems": {
					"description": "The {System.Collections.Generic.IEnumerable`1} contained in the bundle, serialized if item is a bundle.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.BundleItemDetailModel"
					}
				},
				"itemStatus": {
					"description": "The {System.Collections.Generic.IEnumerable`1} if item has {Roblox.Catalog.Api.CatalogItemStatus}.",
					"type": "array",
					"items": {
						"enum": ["New", "Sale", "XboxExclusive", "AmazonExclusive", "GooglePlayExclusive", "IosExclusive", "SaleTimer"],
						"type": "string"
					}
				},
				"itemRestrictions": {
					"description": "The {System.Collections.Generic.IEnumerable`1} if item has {Roblox.Catalog.Api.CatalogItemRestriction}.",
					"type": "array",
					"items": {
						"enum": [
							"ThirteenPlus",
							"LimitedUnique",
							"Limited",
							"BuildersClub",
							"TurboBuildersClub",
							"OutrageousBuildersClub",
							"Rthro"
						],
						"type": "string"
					}
				},
				"creatorType": {
					"description": "The {Roblox.Catalog.Api.CatalogSearchDetailedResponseItem.CreatorType} of the item's creator.",
					"enum": ["User", "Group"],
					"type": "string"
				},
				"creatorTargetId": {
					"format": "int64",
					"description": "The creator id of the item's creator.",
					"type": "integer"
				},
				"creatorName": {
					"description": "The creator name of the item's creator.",
					"type": "string"
				},
				"price": {
					"format": "int64",
					"description": "The item's price.",
					"type": "integer"
				},
				"premiumPricing": {
					"$ref": "#/definitions/Roblox.Catalog.Api.PremiumPricingModel",
					"description": "The Premium pricing information for the item."
				},
				"lowestPrice": {
					"format": "int64",
					"description": "The item's lowest price, only if the item is resellable and there are resellers.",
					"type": "integer"
				},
				"priceStatus": {
					"description": "The localized string item status if the item's price should not be displayed.",
					"type": "string"
				},
				"unitsAvailableForConsumption": {
					"format": "int64",
					"description": "The number of items in stock, only if the item is resellable and is limitedEdition",
					"type": "integer"
				},
				"purchaseCount": {
					"format": "int64",
					"description": "The number of times the item has been purchased.",
					"type": "integer"
				},
				"favoriteCount": {
					"format": "int64",
					"description": "The number of times the item has been favorited.",
					"type": "integer"
				},
				"offSaleDeadline": {
					"format": "date-time",
					"description": "When the item will go off sale, if the item has an off deadline.",
					"type": "string"
				}
			}
		},
		"Roblox.Web.WebAPI.Models.ApiLegacyPageResponse[Roblox.Catalog.Api.CatalogItemModel]": {
			"type": "object",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CatalogItemModel"
					}
				},
				"total": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"Roblox.Catalog.Api.CatalogItemModel": {
			"description": "Basic catalog item model",
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer",
					"readOnly": true
				},
				"name": {
					"type": "string",
					"readOnly": true
				},
				"description": {
					"type": "string",
					"readOnly": true
				},
				"type": {
					"type": "string",
					"readOnly": true
				},
				"priceInRobux": {
					"format": "int64",
					"type": "integer",
					"readOnly": true
				},
				"premiumPricing": {
					"$ref": "#/definitions/Roblox.Catalog.Api.PremiumPricingModel"
				}
			}
		},
		"Roblox.Catalog.Api.AssetFavoriteModel": {
			"description": "A model to represent asset favorites.",
			"type": "object",
			"properties": {
				"assetId": {
					"format": "int64",
					"description": "The Id of the asset being favorited.",
					"type": "integer",
					"readOnly": true
				},
				"userId": {
					"format": "int64",
					"description": "The Id of the user favoriting the asset.",
					"type": "integer",
					"readOnly": true
				},
				"created": {
					"format": "date-time",
					"description": "The time at which the user favorited the asset.",
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Web.WebAPI.ApiEmptyResponseModel": {
			"type": "object",
			"properties": {}
		},
		"Roblox.Catalog.Api.BundleFavoriteModel": {
			"description": "A model to represent bundle favorites.",
			"type": "object",
			"properties": {
				"bundleId": {
					"format": "int64",
					"description": "The Id of the bundle being favorited.",
					"type": "integer",
					"readOnly": true
				},
				"userId": {
					"format": "int64",
					"description": "The Id of the user favoriting the bundle.",
					"type": "integer",
					"readOnly": true
				},
				"created": {
					"format": "date-time",
					"description": "The time at which the user favorited the bundle.",
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Catalog.Api.RecommendationsMetadataModel": {
			"description": "Recommendations Metadata Model",
			"type": "object",
			"properties": {
				"numOfRecommendationsDisplayed": {
					"format": "int32",
					"type": "integer"
				},
				"numOfRecommendationsRetrieved": {
					"format": "int32",
					"type": "integer"
				},
				"subject": {
					"type": "string"
				},
				"isV2EndpointEnabled": {
					"type": "boolean"
				}
			}
		},
		"Roblox.Web.WebAPI.Models.ApiLegacyPageResponse[Roblox.Catalog.Api.RecommendationViewModelV2]": {
			"type": "object",
			"properties": {
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.RecommendationViewModelV2"
					}
				},
				"total": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"Roblox.Catalog.Api.RecommendationViewModelV2": {
			"type": "object",
			"properties": {
				"item": {
					"$ref": "#/definitions/Roblox.Catalog.Api.ItemContainerV2",
					"readOnly": true
				},
				"creator": {
					"$ref": "#/definitions/Roblox.Catalog.Api.CreatorContainerV2",
					"readOnly": true
				},
				"product": {
					"$ref": "#/definitions/Roblox.Catalog.Api.ProductContainerV2",
					"readOnly": true
				}
			}
		},
		"Roblox.Catalog.Api.ItemContainerV2": {
			"type": "object",
			"properties": {
				"assetId": {
					"format": "int64",
					"type": "integer"
				},
				"name": {
					"type": "string"
				},
				"price": {
					"format": "int64",
					"type": "integer"
				},
				"premiumPrice": {
					"format": "int64",
					"type": "integer"
				},
				"absoluteUrl": {
					"type": "string"
				},
				"audioUrl": {
					"type": "string"
				}
			}
		},
		"Roblox.Catalog.Api.CreatorContainerV2": {
			"type": "object",
			"properties": {
				"creatorId": {
					"format": "int64",
					"type": "integer"
				},
				"creatorType": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"creatorProfileLink": {
					"type": "string"
				}
			}
		},
		"Roblox.Catalog.Api.ProductContainerV2": {
			"type": "object",
			"properties": {
				"id": {
					"format": "int64",
					"type": "integer"
				},
				"priceInRobux": {
					"format": "int64",
					"type": "integer"
				},
				"isForSale": {
					"type": "boolean"
				},
				"isPublicDomain": {
					"type": "boolean"
				},
				"isResellable": {
					"type": "boolean"
				},
				"isLimited": {
					"type": "boolean"
				},
				"isLimitedUnique": {
					"type": "boolean"
				},
				"serialNumber": {
					"format": "int64",
					"type": "integer"
				},
				"isRental": {
					"type": "boolean"
				},
				"rentalDurationInHours": {
					"format": "int64",
					"type": "integer"
				},
				"bcRequirement": {
					"format": "int32",
					"type": "integer"
				},
				"totalPrivateSales": {
					"format": "int64",
					"type": "integer"
				},
				"sellerId": {
					"format": "int64",
					"type": "integer"
				},
				"sellerName": {
					"type": "string"
				},
				"lowestPrivateSaleUserAssetId": {
					"format": "int64",
					"type": "integer"
				},
				"isXboxExclusiveItem": {
					"type": "boolean"
				},
				"offsaleDeadline": {
					"type": "string"
				},
				"noPriceText": {
					"type": "string"
				},
				"isFree": {
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.CatalogMenuItemsResponseModel": {
			"description": "Response model for navigation menu items",
			"type": "object",
			"properties": {
				"defaultGearSubcategory": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BackAccessories",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"FaceAccessories",
						"Faces",
						"Featured",
						"FrontAccessories",
						"Gear",
						"HairAccessories",
						"Hats",
						"Heads",
						"NeckAccessories",
						"Pants",
						"Shirts",
						"ShoulderAccessories",
						"Tshirts",
						"WaistAccessories",
						"Bundles",
						"AnimationBundles",
						"EmoteAnimations",
						"CommunityCreations",
						"Melee",
						"Ranged",
						"Explosive",
						"PowerUp",
						"Navigation",
						"Musical",
						"Social",
						"Building",
						"Transport",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"defaultCategory": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"Featured",
						"Gear",
						"CommunityCreations",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"defaultCategoryIdForRecommendedSearch": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"Featured",
						"Gear",
						"CommunityCreations",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"defaultCreator": {
					"enum": ["User", "Group"],
					"type": "string"
				},
				"defaultCurrency": {
					"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"],
					"type": "string"
				},
				"defaultSortType": {
					"enum": ["Relevance", "Favorited", "Sales", "Updated", "PriceAsc", "PriceDesc"],
					"type": "string"
				},
				"defaultSortAggregation": {
					"enum": ["Past12Hours", "PastDay", "Past3Days", "PastWeek", "PastMonth", "AllTime"],
					"type": "string"
				},
				"categoriesWithCreator": {
					"type": "array",
					"items": {
						"enum": [
							"Accessories",
							"All",
							"AvatarAnimations",
							"BodyParts",
							"Clothing",
							"Collectibles",
							"Featured",
							"Gear",
							"CommunityCreations",
							"Premium",
							"Recommended"
						],
						"type": "string"
					}
				},
				"robloxUserId": {
					"format": "int64",
					"type": "integer"
				},
				"robloxUserName": {
					"type": "string"
				},
				"gearSubcategory": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BackAccessories",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"FaceAccessories",
						"Faces",
						"Featured",
						"FrontAccessories",
						"Gear",
						"HairAccessories",
						"Hats",
						"Heads",
						"NeckAccessories",
						"Pants",
						"Shirts",
						"ShoulderAccessories",
						"Tshirts",
						"WaistAccessories",
						"Bundles",
						"AnimationBundles",
						"EmoteAnimations",
						"CommunityCreations",
						"Melee",
						"Ranged",
						"Explosive",
						"PowerUp",
						"Navigation",
						"Musical",
						"Social",
						"Building",
						"Transport",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"allCategories": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"Featured",
						"Gear",
						"CommunityCreations",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"freeFilter": {
					"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"],
					"type": "string"
				},
				"customRobuxFilter": {
					"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"],
					"type": "string"
				},
				"robuxFilter": {
					"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"],
					"type": "string"
				},
				"categories": {
					"description": "Response object representing all categories",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CategoryModel"
					}
				},
				"genres": {
					"description": "Response object representing all genres",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.GenreModel"
					}
				},
				"sortMenu": {
					"$ref": "#/definitions/Roblox.Catalog.Api.SortMenuModel",
					"description": "Response object representing sort menu"
				},
				"creatorFilters": {
					"description": "Response object representing all creator filters",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CreatorFilterModel"
					}
				},
				"priceFilters": {
					"description": "Response object representing all price filters",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.PriceFilterModel"
					}
				}
			}
		},
		"Roblox.Catalog.Api.CategoryModel": {
			"description": "Response model for category",
			"type": "object",
			"properties": {
				"category": {
					"description": "Category type",
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"Featured",
						"Gear",
						"CommunityCreations",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"categoryId": {
					"format": "int32",
					"description": "Category id",
					"type": "integer"
				},
				"name": {
					"description": "Category name",
					"type": "string"
				},
				"orderIndex": {
					"format": "int32",
					"description": "Category order index",
					"type": "integer"
				},
				"subcategories": {
					"description": "Subcategories under this category",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.SubcategoryModel"
					}
				},
				"isSearchable": {
					"description": "Gets or sets whether the category is searchable in search bar",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.GenreModel": {
			"description": "Response model for genre",
			"type": "object",
			"properties": {
				"genre": {
					"description": "Genre type",
					"enum": [
						"TownAndCity",
						"Medieval",
						"SciFi",
						"Fighting",
						"Horror",
						"Naval",
						"Adventure",
						"Sports",
						"Comedy",
						"Western",
						"Military",
						"Building",
						"Fps",
						"Rpg"
					],
					"type": "string"
				},
				"name": {
					"description": "Genre name",
					"type": "string"
				},
				"isSelected": {
					"description": "Whether this genre is selected by default",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.SortMenuModel": {
			"description": "Response model for sort menu",
			"type": "object",
			"properties": {
				"sortOptions": {
					"description": "List of sort options",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.SortOptionModel"
					}
				},
				"sortAggregations": {
					"description": "List of sort aggregations",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.SortAggregationModel"
					}
				}
			}
		},
		"Roblox.Catalog.Api.CreatorFilterModel": {
			"description": "Response model for creator filter",
			"type": "object",
			"properties": {
				"userId": {
					"format": "int64",
					"description": "Creator user Id",
					"type": "integer"
				},
				"name": {
					"description": "Creator name",
					"type": "string"
				},
				"isSelected": {
					"description": "Whether this filter is selected by default",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.PriceFilterModel": {
			"description": "Response model for price filter",
			"type": "object",
			"properties": {
				"currencyType": {
					"description": "Currency Type of this price filter",
					"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"],
					"type": "string"
				},
				"name": {
					"description": "Price filter Name",
					"type": "string"
				},
				"excludePriceSorts": {
					"description": "Whether if this price filter exclude price sorts",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.SubcategoryModel": {
			"description": "Response model for subcategory",
			"type": "object",
			"properties": {
				"subcategory": {
					"description": "Subcategory type",
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BackAccessories",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"FaceAccessories",
						"Faces",
						"Featured",
						"FrontAccessories",
						"Gear",
						"HairAccessories",
						"Hats",
						"Heads",
						"NeckAccessories",
						"Pants",
						"Shirts",
						"ShoulderAccessories",
						"Tshirts",
						"WaistAccessories",
						"Bundles",
						"AnimationBundles",
						"EmoteAnimations",
						"CommunityCreations",
						"Melee",
						"Ranged",
						"Explosive",
						"PowerUp",
						"Navigation",
						"Musical",
						"Social",
						"Building",
						"Transport",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"subcategoryId": {
					"format": "int32",
					"description": "Subcategory id",
					"type": "integer"
				},
				"name": {
					"description": "Subcategory name",
					"type": "string"
				},
				"shortName": {
					"description": "Subcategory short name",
					"type": "string"
				}
			}
		},
		"Roblox.Catalog.Api.SortOptionModel": {
			"description": "Response model for sort option",
			"type": "object",
			"properties": {
				"sortType": {
					"description": "Sort type",
					"enum": ["Relevance", "Favorited", "Sales", "Updated", "PriceAsc", "PriceDesc"],
					"type": "string"
				},
				"sortOrder": {
					"description": "Descending or Ascending order of the sort",
					"enum": ["Asc", "Desc"],
					"type": "string"
				},
				"name": {
					"description": "Sort option Name",
					"type": "string"
				},
				"isSelected": {
					"description": "Whether this sort option is selected by default",
					"type": "boolean"
				},
				"hasSubMenu": {
					"description": "Whether this sort option has sub menu",
					"type": "boolean"
				},
				"isPriceRelated": {
					"description": "Whether this sort option is price related",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.SortAggregationModel": {
			"description": "Response model for sort aggregation",
			"type": "object",
			"properties": {
				"sortAggregation": {
					"description": "Sort aggregation type",
					"enum": ["Past12Hours", "PastDay", "Past3Days", "PastWeek", "PastMonth", "AllTime"],
					"type": "string"
				},
				"name": {
					"description": "Sort aggregation name",
					"type": "string"
				},
				"isSelected": {
					"description": "Whether this sort aggregation is selected by default",
					"type": "boolean"
				},
				"hasSubMenu": {
					"description": "Whether this sort aggregation has sub menu",
					"type": "boolean"
				},
				"isPriceRelated": {
					"description": "Whether this sort aggregation is price related",
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSearchRequestModel": {
			"type": "object",
			"properties": {
				"category": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"Featured",
						"Gear",
						"CommunityCreations",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"subcategory": {
					"enum": [
						"Accessories",
						"All",
						"AvatarAnimations",
						"BackAccessories",
						"BodyParts",
						"Clothing",
						"Collectibles",
						"FaceAccessories",
						"Faces",
						"Featured",
						"FrontAccessories",
						"Gear",
						"HairAccessories",
						"Hats",
						"Heads",
						"NeckAccessories",
						"Pants",
						"Shirts",
						"ShoulderAccessories",
						"Tshirts",
						"WaistAccessories",
						"Bundles",
						"AnimationBundles",
						"EmoteAnimations",
						"CommunityCreations",
						"Melee",
						"Ranged",
						"Explosive",
						"PowerUp",
						"Navigation",
						"Musical",
						"Social",
						"Building",
						"Transport",
						"Premium",
						"Recommended"
					],
					"type": "string"
				},
				"sortAggregation": {
					"enum": ["Past12Hours", "PastDay", "Past3Days", "PastWeek", "PastMonth", "AllTime"],
					"type": "string"
				},
				"sortCurrency": {
					"enum": ["All", "Robux", "Tickets", "CustomRobux", "CustomTickets", "Free"],
					"type": "string"
				},
				"genres": {
					"type": "array",
					"items": {
						"enum": [
							"TownAndCity",
							"Medieval",
							"SciFi",
							"Fighting",
							"Horror",
							"Naval",
							"Adventure",
							"Sports",
							"Comedy",
							"Western",
							"Military",
							"Building",
							"Fps",
							"Rpg"
						],
						"type": "string"
					}
				},
				"sortType": {
					"enum": ["Relevance", "Favorited", "Sales", "Updated", "PriceAsc", "PriceDesc"],
					"type": "string"
				},
				"creatorType": {
					"enum": ["User", "Group"],
					"type": "string"
				},
				"premiumBenefitFilterType": {
					"enum": ["None", "PremiumDiscountedOnly", "PremiumExclusiveOnly"],
					"type": "string"
				},
				"creatorTargetId": {
					"format": "int64",
					"type": "integer"
				},
				"creatorName": {
					"type": "string"
				},
				"maxPrice": {
					"format": "int32",
					"type": "integer"
				},
				"minPrice": {
					"format": "int32",
					"type": "integer"
				},
				"keyword": {
					"type": "string"
				},
				"includeNotForSale": {
					"type": "boolean"
				},
				"tagNames": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"Roblox.Web.WebAPI.ExclusiveStartRequest[System.Int32]": {
			"type": "object",
			"properties": {
				"ExclusiveStartKeyInfo": {
					"$ref": "#/definitions/Roblox.Platform.Core.ExclusiveStartPaging.IExclusiveStartKeyInfo[System.Int32]",
					"readOnly": true
				},
				"CursorRecipe": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"Roblox.Platform.Core.ExclusiveStartPaging.IExclusiveStartKeyInfo[System.Int32]": {
			"type": "object",
			"properties": {
				"SortOrder": {
					"enum": ["Asc", "Desc"],
					"type": "string",
					"readOnly": true
				},
				"PagingDirection": {
					"enum": ["Forward", "Backward"],
					"type": "string",
					"readOnly": true
				},
				"Count": {
					"format": "int32",
					"type": "integer",
					"readOnly": true
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSearchPageResponse[Roblox.Catalog.Api.CatalogSearchDetailedResponseItem]": {
			"description": "ApiPageResponse for catalog search",
			"type": "object",
			"properties": {
				"keyword": {
					"description": "Keyword used for search query",
					"type": "string"
				},
				"elasticsearchDebugInfo": {
					"$ref": "#/definitions/Roblox.AvatarCatalogSearch.Client.ElasticsearchDebugInfo",
					"description": "Elasticsearch debug info returned from AvatarCatalogSearch service"
				},
				"previousPageCursor": {
					"type": "string"
				},
				"nextPageCursor": {
					"type": "string"
				},
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchDetailedResponseItem"
					}
				}
			}
		},
		"Roblox.AvatarCatalogSearch.Client.ElasticsearchDebugInfo": {
			"type": "object",
			"properties": {
				"elasticsearchQuery": {
					"type": "string"
				},
				"isFromCache": {
					"type": "boolean"
				},
				"indexName": {
					"type": "string"
				},
				"isTerminatedEarly": {
					"type": "boolean"
				},
				"isForceTerminationEnabledByRequest": {
					"type": "boolean"
				}
			}
		},
		"Roblox.Catalog.Api.CatalogSearchPageResponse[Roblox.Catalog.Api.CatalogSearchResponseItem]": {
			"description": "ApiPageResponse for catalog search",
			"type": "object",
			"properties": {
				"keyword": {
					"description": "Keyword used for search query",
					"type": "string"
				},
				"elasticsearchDebugInfo": {
					"$ref": "#/definitions/Roblox.AvatarCatalogSearch.Client.ElasticsearchDebugInfo",
					"description": "Elasticsearch debug info returned from AvatarCatalogSearch service"
				},
				"previousPageCursor": {
					"type": "string"
				},
				"nextPageCursor": {
					"type": "string"
				},
				"data": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Roblox.Catalog.Api.CatalogSearchResponseItem"
					}
				}
			}
		}
	}
}
