<script type="text/javascript">
	var Roblox = Roblox || {};
	Roblox.EnvironmentUrls = Roblox.EnvironmentUrls || {};
	Roblox.EnvironmentUrls = {
		abtestingApiSite: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AbTestingHost %>',
		accountInformationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AccountInformationHost %>',
		accountSettingsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AccountSettingsHost %>',
		adConfigurationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AdConfigurationHost %>',
		adsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AdsHost %>',
		apiGatewayUrl: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ApiGatewayHost %>',
		apiGatewayCdnUrl: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ApiGatewayCDNHost  %>',
		apiProxyUrl: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ApiProxyHost %>',
		assetDeliveryApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AssetsHost %>',
		authApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AuthenticationHost %>',
		avatarApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.AvatarHost %>',
		badgesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.BadgesHost %>',
		billingApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.BillingHost %>',
		captchaApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.DEPRECATED_CaptchaHost %>',
		catalogApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.CatalogHost %>',
		chatApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ChatHost %>',
		contactsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ContactsHost %>',
		contentStoreApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ContentStoreHost %>',
		developApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.DevelopHost %>',
		domain: '<%= urlMetadata.Hosts.Apex %>',
		economyApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.EconomyHost %>',
		economycreatorstatsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.EconomyCreatorStatsHost %>',
		engagementPayoutsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.EngagementPayoutsHost %>',
		followingsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.FollowingsHost %>',
		friendsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.FriendsHost %>',
		gamesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.GamesHost %>',
		gameInternationalizationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.G18NHost %>',
		groupsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.GroupsHost %>',
		inventoryApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.InventoryHost %>',
		itemConfigurationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ItemConfigurationHost %>',
		localeApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.LocaleHost %>',
		localizationTablesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.LocalizationTablesHost %>',
		metricsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.MetricsHost %>',
		midasApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.MidasHost %>',
		notificationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.NotificationsHost %>',
		premiumFeaturesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.PremiumFeaturesHost %>',
		presenceApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.PresenceHost %>',
		publishApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.PublishHost %>',
		screenTimeApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.DEPRECATED_ApiGatewayRCSHost %>/screen-time-api',
		thumbnailsApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ThumbsHost %>',
		tradesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.TradesHost %>',
		translationRolesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.TranslationRolesHost %>',
		universalAppConfigurationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ApiGatewayHost %>/universal-app-configuration',
		usersApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.UsersHost %>',
		voiceApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.VoiceHost %>',
		websiteUrl: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.BaseHost %>',
		privateMessagesApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.PrivateMessagesHost %>',
		shareApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ShareHost %>',
		chatModerationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.ChatModerationHost %>',
		userModerationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.UserModerationHost %>',
		groupsModerationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.GroupsModerationHost %>',
		twoStepVerificationApi: '<%= urlMetadata.Protocol %>://<%= urlMetadata.Hosts.TSVHost %>',
	};

	// please keep the list in alphabetical order
	var additionalUrls = {
		amazonStoreLink: '<%= urlMetadata.Protocol %>://www.amazon.com/Roblox-Corporation/dp/B00NUF4YOA',
		amazonWebStoreLink:
			'<%= urlMetadata.Protocol %>%3a%2f%2fwww.amazon.com%2froblox%3f%26_encoding%3dUTF8%26tag%3dr05d13-20%26linkCode%3dur2%26linkId%3d5562fc29c05b45562a86358c198356eb%26camp%3d1789%26creative%3d9325',
		appProtocolUrl: 'robloxmobile://',
		appStoreLink: '<%= urlMetadata.Protocol %>://itunes.apple.com/us/app/roblox-mobile/id431946152',
		googlePlayStoreLink: '<%= urlMetadata.Protocol %>://play.google.com/store/apps/details?id=com.roblox.client&amp;hl=en',
		iosAppStoreLink: '<%= urlMetadata.Protocol %>://itunes.apple.com/us/app/roblox-mobile/id431946152',
		windowsStoreLink: '<%= urlMetadata.Protocol %>://www.microsoft.com/en-us/store/games/roblox/9nblgggzm6wm',
		xboxStoreLink: '<%= urlMetadata.Protocol %>://www.microsoft.com/en-us/p/roblox/bq1tn1t79v9k',
	};

	for (var urlName in additionalUrls) {
		Roblox.EnvironmentUrls[urlName] = additionalUrls[urlName];
	}
</script>
