body,
h1,
h2,
h3 {
	margin: 0;
	font: 13px Arial, Sans-Serif;
}
a {
	text-decoration: none;
}
a:link,
a:visited {
	color: #095fb5;
}
pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}
.string {
	color: green;
}
.number {
	color: darkorange;
}
.boolean {
	color: blue;
}
.null {
	color: magenta;
}
.key {
	color: red;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#container {
	width: 970px;
	margin: 0 auto;
}
.left-nav {
	width: 170px;
	height: 100%;
	position: fixed;
	top: 0;
	padding-top: 10px;
	border-right: 1px solid #ccc;
	font-size: 16px;
}
.content {
	margin-left: 191px;
}
.header {
	font-weight: bold;
	font-size: 24px;
	color: #363636;
	margin-bottom: 15px;
}
.label {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.action {
	margin: 10px 0 80px;
}
.action-route {
	font-size: 24px;
}
.action-summary {
	margin: 10px 0 20px;
}
.action-params,
.action-errors {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #ccc;
}
.action-param-name,
.action-param-type,
.action-param-desc {
	text-align: left;
	padding: 10px 0;
	border-top: 1px solid #ccc;
}
.action-param-name {
	font-weight: bold;
	width: 30%;
}
.notice {
	border: 1px solid #06c;
	background-color: #e5effa;
	padding: 5px;
	margin: 10px 0 15px;
}
