{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "Develop Api v1"
	},
	"host": "develop.sitetest3.robloxlabs.com",
	"schemes": ["https"],
	"paths": {
		"/v1/assets": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets a list of assets by asset IDs.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetIds",
						"in": "query",
						"description": "ID list of the asset.",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.AssetModel]"
						}
					},
					"400": {
						"description": "5: AssetIds is empty.\r\n6: Too many ids in AssetIds.\r\n7: One or more of AssetIds are invalid."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: Authenticated user does not have permissions to manage the asset."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetAssets"]
				}
			}
		},
		"/v1/assets/{assetId}/latest-saved-version": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets a latest saved asset version for asset ID.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "ID of the asset.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.AssetVersion"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetAssetLatestSavedVersionByAssetId"]
				}
			}
		},
		"/v1/assets/{assetId}/published-versions": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets a page of published asset versions by asset ID.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "ID of the asset.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sort by version number, default is desc.",
						"required": false,
						"type": "string",
						"default": "Desc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.AssetVersion]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetAssetPublishedVersionsByAssetId"]
				}
			},
			"post": {
				"tags": ["Assets"],
				"summary": "Publishes a saved version of an asset.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "ID of the asset.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetVersionNumber",
						"in": "query",
						"description": "Asset version number.",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "4: Asset type is not supported by the requested operation."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist.\r\n2: The referenced asset version does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:PublishAssetVersion"]
				}
			}
		},
		"/v1/assets/{assetId}/saved-versions": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets a page of saved asset versions by asset ID.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "ID of the asset.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sort by version number, default is desc.",
						"required": false,
						"type": "string",
						"default": "Desc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.AssetVersion]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetAssetSavedVersionsByAssetId"]
				}
			}
		},
		"/v1/assets/{assetId}/versions/{versionNumber}": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets a published asset version by asset ID and versionNumber.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "ID of the asset.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "versionNumber",
						"in": "path",
						"description": "The version number of the asset.",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.AssetVersion"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetAssetVersionByAssetIdAndVersionNumber"]
				}
			}
		},
		"/v1/assets/endorsed": {
			"get": {
				"tags": ["Assets"],
				"summary": "Get the endorsement status of the requested assets",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetIds",
						"in": "query",
						"description": "The ids of the requested assets",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.Models.Response.EndorsedAssetModel]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetAreAssetsEndorsed"]
				}
			}
		},
		"/v1/assets/genres": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets a list of genres.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[System.String]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:GetGenres"]
				}
			}
		},
		"/v1/assets/voting": {
			"get": {
				"tags": ["Assets"],
				"summary": "Gets the voting information of the given assets",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetIds",
						"in": "query",
						"description": "The ids of the {Roblox.IAsset}.",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.Models.Response.AssetVotingModel]"
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Assets:GetAssetVoting"]
				}
			}
		},
		"/v1/gametemplates": {
			"get": {
				"tags": ["GameTemplates"],
				"summary": "Gets a page of templates that can be used to start off making games.",
				"description": "Templates subject to change without notice.\r\nSort order of templates specified by Roblox.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.Models.GameTemplateModel]"
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["GameTemplates:GetGameTemplates"]
				}
			}
		},
		"/v1/gameUpdateNotifications/{universeId}": {
			"get": {
				"tags": ["GameUpdateNotifications"],
				"summary": "Retrieves historical records of game update messages.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The game ID",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Roblox.Api.Develop.Models.GameUpdateMessageModel"
							}
						}
					},
					"404": {
						"description": "{universeId} is invalid."
					},
					"403": {
						"description": "User is not authorized for this action on the universe."
					},
					"500": {
						"description": "The Game Updates Infrastructure Service is unavailable."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["GameUpdateNotifications:GetGameUpdateHistory"]
				}
			},
			"post": {
				"tags": ["GameUpdateNotifications"],
				"summary": "Publishes a new Game Update Notification for a {Roblox.Platform.Universes.IUniverse}Universe",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "gameUpdateText",
						"in": "body",
						"description": "The JSON object that will represent the body of the notification to be sent.",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.GameUpdateMessageModel"
						}
					},
					"400": {
						"description": "Called with invalid arguments."
					},
					"404": {
						"description": "{universeId} is invalid."
					},
					"403": {
						"description": "User is not authorized for this action on the universe.\r\n0: Token Validation Failed"
					},
					"500": {
						"description": "The game update text is blocked by the filter."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["GameUpdateNotifications:PublishGameUpdateNotification"]
				}
			}
		},
		"/v1/groups/{groupId}/universes": {
			"get": {
				"tags": ["Groups"],
				"summary": "Gets a list of universes for the given group.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "groupId",
						"in": "path",
						"description": "The group id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "isArchived",
						"in": "query",
						"description": "Whether or not to return archived games.",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by universeId",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.UniverseModel]"
						}
					},
					"400": {
						"description": "Invalid {groupId}."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Groups:GetGroupUniverses"]
				}
			}
		},
		"/v1/packages/assets/{assetId}/has-permission": {
			"get": {
				"tags": ["PackagePermissions"],
				"summary": "Checks if a current user has permission for a specific asset.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "requiredAction",
						"in": "query",
						"required": true,
						"type": "string",
						"enum": ["UseView", "Edit", "Revoked", "Own"]
					},
					{
						"name": "assetVersionNumber",
						"in": "query",
						"required": false,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UserHasPackagePermissionResponse"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "5: Authenticated user does not have Own permission."
					},
					"404": {
						"description": "1: Invalid asset id\r\n2: Invalid asset version number\r\n4: The referenced asset does not exist."
					},
					"500": {
						"description": "0: Unknown error"
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["PackagePermissions:UserHasPackagePermissionAsync"]
				}
			}
		},
		"/v1/packages/assets/{assetId}/highest-permission": {
			"get": {
				"tags": ["PackagePermissions"],
				"summary": "Get highest package permission granted to current user for a specific package.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.GetUserHighestPackagePermissionResponse"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"404": {
						"description": "1: Invalid asset id\r\n4: The referenced asset does not exist."
					},
					"500": {
						"description": "0: Unknown error"
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["PackagePermissions:GetUserHighestPackagePermissionAsync"]
				}
			}
		},
		"/v1/packages/assets/{assetId}/permissions": {
			"get": {
				"tags": ["PackagePermissions"],
				"summary": "Returns a list of permissions for a package.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "actionsTextToFilter",
						"in": "query",
						"required": true,
						"type": "array",
						"items": {
							"type": "string"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.PackagePermissionModel]"
						}
					},
					"400": {
						"description": "3: Invalid action"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "5: Authenticated user does not have Own permission."
					},
					"404": {
						"description": "1: Invalid asset id\r\n4: The referenced asset does not exist."
					},
					"500": {
						"description": "0: Unknown error"
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["PackagePermissions:GetPackagePermissionsAsync"]
				}
			}
		},
		"/v1/packages/assets/highest-permissions": {
			"get": {
				"tags": ["PackagePermissions"],
				"summary": "Get highest package permissions granted to current user for each package.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetIds",
						"in": "query",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.GetUserHighestPackagePermissionsResponse"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"404": {
						"description": "1: Invalid asset id\r\n4: The referenced asset does not exist."
					},
					"500": {
						"description": "0: Unknown error"
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["PackagePermissions:GetUserHighestPackagePermissionsAsync"]
				}
			}
		},
		"/v1/packages/available-permission-actions": {
			"get": {
				"tags": ["PackagePermissions"],
				"summary": "Returns a list of available permission actions.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[System.String]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["PackagePermissions:GetAvailablePermissionActionsAsync"]
				}
			}
		},
		"/v1/places/{placeId}/compatibilities": {
			"get": {
				"tags": ["Places"],
				"summary": "Gets compatibility of place with different platforms {placeId}",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place id for the place to be updated.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.Response.PlaceCompatibilitiesResponse"
						}
					},
					"400": {
						"description": "{placeId} is invalid."
					},
					"403": {
						"description": "Authenticated user is not authorized to manage this place."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Places:GetPlaceCompatibility"]
				}
			}
		},
		"/v1/places/{placeId}/stats/{type}": {
			"get": {
				"tags": ["Statistics"],
				"summary": "Get statistics data for a place.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "type",
						"in": "path",
						"description": "The data type.",
						"required": true,
						"type": "string",
						"enum": ["Revenue", "RevenuePerVisit", "AverageVisitLength", "Visits"]
					},
					{
						"name": "granularity",
						"in": "query",
						"description": "The {Roblox.Api.Develop.Models.StatisticsDataGranularity}.",
						"required": true,
						"type": "string",
						"enum": ["Hourly", "Daily", "Monthly"]
					},
					{
						"name": "divisionType",
						"in": "query",
						"description": "Optional division type for the data.",
						"required": false,
						"type": "string",
						"enum": ["Device", "Age"]
					},
					{
						"name": "startTime",
						"in": "query",
						"description": "Optional time of first sample.",
						"required": false,
						"type": "string"
					},
					{
						"name": "endTime",
						"in": "query",
						"description": "Optional time of last sample.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.StatisticsResponse"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: Not authorized to perform this action."
					},
					"404": {
						"description": "1: The place is invalid.\r\n3: Too many data points requested.\r\n4: The requested data type is not known."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Statistics:GetStatistics"]
				}
			}
		},
		"/v1/places/{placeId}/stats/{type}/legacy/flot": {
			"get": {
				"tags": ["Statistics"],
				"summary": "Get statistics data for a place in a certain format.\r\nDO NOT USE THIS ENDPOINT. It may be removed at any time. Use GetStatistics instead.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "type",
						"in": "path",
						"description": "The data type.",
						"required": true,
						"type": "string",
						"enum": ["Revenue", "RevenuePerVisit", "AverageVisitLength", "Visits"]
					},
					{
						"name": "timeFrame",
						"in": "query",
						"description": "The {Roblox.Api.Develop.Models.StatisticsDataGranularity}.",
						"required": true,
						"type": "string",
						"enum": ["Hourly", "Daily", "Monthly"]
					},
					{
						"name": "divisionType",
						"in": "query",
						"description": "Optional division type for the data.",
						"required": false,
						"type": "string",
						"enum": ["Device", "Age"]
					},
					{
						"name": "startTime",
						"in": "query",
						"description": "Optional time of first sample.",
						"required": false,
						"type": "string"
					},
					{
						"name": "endTime",
						"in": "query",
						"description": "Optional time of last sample.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: Not authorized to perform this action."
					},
					"404": {
						"description": "1: The place is invalid.\r\n3: Too many data points requested.\r\n4: The requested data type is not known."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Statistics:GetStatisticsFlot"]
				}
			}
		},
		"/v1/places/{placeId}/stats/developer-product-aggregation": {
			"get": {
				"tags": ["Statistics"],
				"summary": "An endpoint that returns whether the age data is available for a place.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "timeFrame",
						"in": "query",
						"description": "The {Roblox.Api.Develop.Models.StatisticsDataGranularity}.",
						"required": true,
						"type": "string",
						"enum": ["Hourly", "Daily", "Monthly"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.DeveloperProductAggregationResponse"
						}
					},
					"400": {
						"description": "1: The place is invalid."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: Not authorized to perform this action."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Statistics:GetDeveloperProductAggregation"]
				}
			}
		},
		"/v1/places/{placeId}/stats/is-age-data-available": {
			"get": {
				"tags": ["Statistics"],
				"summary": "An endpoint that returns whether the age data is available for a place.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.Response.StatisticsAgeDataResponse"
						}
					},
					"400": {
						"description": "1: The place is invalid."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: Not authorized to perform this action."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Statistics:IsAgeDataAvailableForDeveloperStats"]
				}
			}
		},
		"/v1/places/{placeId}/symbolic-links": {
			"get": {
				"tags": ["Packages"],
				"summary": "Gets all symbolic links existing for a specified place.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The id of the place.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by the guids of the symbolic links.",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.SymbolicLink]"
						}
					},
					"403": {
						"description": "11: Authenticated user does not have read permissions or UseView package permission."
					},
					"404": {
						"description": "2: Place does not exist."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Use GET /v1/universes/{universeId}/packages instead",
					"metricIds": ["Packages:GetSymbolicLinksForPlaceAsync"]
				}
			},
			"post": {
				"tags": ["Packages"],
				"summary": "Creates a new symbolic link for the specified place.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The id of the place the symbolic link should live in.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "request",
						"in": "body",
						"description": "The request model.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.CreateSymbolicLinkRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.CreateSymbolicLinkResponse"
						}
					},
					"400": {
						"description": "5: The referenced version of the asset is not a package."
					},
					"403": {
						"description": "7: Authenticated user does not have UseView permission.\r\n10: Authenticated user does not have edit permissions or Edit package permission."
					},
					"404": {
						"description": "2: Place does not exist.\r\n3: The referenced asset does not exist.\r\n4: The referenced version of the asset does not exist."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Use POST/PUT /v1/places/{placeId}/packages instead",
					"metricIds": ["Packages:CreateSymbolicLinkAsync"]
				}
			},
			"delete": {
				"tags": ["Packages"],
				"summary": "Deletes the specified symbolic links for a place.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The id of the place the symbolic-links belong to.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "ids",
						"in": "query",
						"description": "The guids of all symbolic-links to delete.",
						"required": true,
						"type": "array",
						"items": {},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "1: The request body is missing.\r\n14: Too many symbolic links were specified in a single operation."
					},
					"403": {
						"description": "10: Authenticated user does not have edit permissions or Edit package permission."
					},
					"404": {
						"description": "2: Place does not exist."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Use POST/PUT /v1/places/{placeId}/packages instead",
					"metricIds": ["Packages:DeleteSymbolicLinks"]
				}
			}
		},
		"/v1/places/{placeId}/symbolic-links/resolve": {
			"get": {
				"tags": ["Packages"],
				"summary": "Resolves the assets symbolic links is pointing to. Supports a maximum of 25 ids per request.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The id of the place the symbolic links are existing in.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "ids",
						"in": "query",
						"description": "The guids of the symbolic links to resolve.",
						"required": true,
						"type": "array",
						"items": {},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.SymbolicLink]"
						}
					},
					"400": {
						"description": "1: The request body is missing.\r\n14: Too many symbolic links were specified in a single operation."
					},
					"404": {
						"description": "2: Place does not exist."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Not being used",
					"metricIds": ["Packages:ResolveSymbolicLinks"]
				}
			}
		},
		"/v1/places/{placeId}/teamcreate/active_session/members": {
			"get": {
				"tags": ["TeamCreate"],
				"summary": "List of users in the active Team Create session",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Users.SkinnyUserResponse]"
						}
					},
					"400": {
						"description": "1: The universe is invalid.\r\n5: The place is invalid."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: Not authorized to perform this action.\r\n4: TeamCreate on universe is disabled."
					},
					"404": {
						"description": "0: An unknown error occurred."
					},
					"500": {
						"description": "6: Multiple active sessions in a Team Create place."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["TeamCreate:GetMembersInTeamCreateActiveSessionByPlace"]
				}
			}
		},
		"/v1/plugins": {
			"get": {
				"tags": ["Plugins"],
				"summary": "Gets plugin details by ids.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "pluginIds",
						"in": "query",
						"description": "The plugin ids.",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "csv"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Plugins.PluginResponse]"
						}
					},
					"400": {
						"description": "1: Too many ids.\r\n2: The format of the ids are invalid."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Plugins:GetPlugins"]
				}
			}
		},
		"/v1/plugins/{pluginId}/install-count": {
			"get": {
				"tags": ["Plugins"],
				"summary": "Gets number of initial installs of plugin.  (This is STUB api yet)",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "pluginId",
						"in": "path",
						"description": "The plugin id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.GetPluginInstallCountResponse"
						}
					},
					"400": {
						"description": "3: The id is invalid."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Plugins:GetPluginInstallCount"]
				}
			}
		},
		"/v1/search/universes": {
			"get": {
				"tags": ["Search"],
				"summary": "Allows searching for universes.",
				"description": "PoC of search endpoint which supports filters in search query string and special syntax for sorts.\r\nIMPORTANT: filter names, values, sort values - are case sensitive!",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "q",
						"in": "query",
						"description": "A search query with filters seperated by whitespace. Example: \"these are keywords! filterName:filterValue filterName:filterValue\"\n\narchived:[Value] (required: False)\nAllowed values: [True,False]\n\nactive:[Value] (required: False)\nAllowed values: [True,False]\n\ncreator:[Value] (required: True)\nAllowed values: [User,Group,Team]\n\ngroups:[Value,Value,...] (required: False)\n\n",
						"required": false,
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Determines the way results will be sorted. Format: (a prefix for ascending or descending) + (sort type).\n\nAscending Prefix: +\n\nDescending Prefix -\n\nAllowed Sort Types: +GameCreated,-GameCreated,+GameName,-GameName,+RootPlaceName,-RootPlaceName,+RootPlaceUpdated,-RootPlaceUpdated,-LastUpdated\n\nNote: An allowed type with no prefix allows both ascending and descending but if a prefix is specified only the specified order is allowed.",
						"required": false,
						"type": "array"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "The order the results are sorted in.",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.UniverseModel]"
						}
					},
					"400": {
						"description": "'q' field value contains filter which value has a wrong format or is not in allowed values list.\r\nor\r\n'q' field value doesn't contain filter which is required.\r\nor\r\n'sort' field value has a wrong format or is not in allowed values list."
					},
					"500": {
						"description": "Unknown error retrieving search results."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Search:SearchUniverses"]
				}
			}
		},
		"/v1/stats/creator-dashboard-metadata": {
			"get": {
				"tags": ["Statistics"],
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.DevStatsCreatorDashboardMetadataResponse"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Statistics:GetMetadataForCreatorDashboard"]
				}
			}
		},
		"/v1/teamtest/places/{placeId}/runninggames": {
			"get": {
				"tags": ["TeamTest"],
				"summary": "Get Currently running team tests for a given place",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The Id of the place we are getting the metadata for",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "not sorted",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"400": {
						"description": "{placeId} is invalid."
					},
					"403": {
						"description": "User is not authorized for this action on the place."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["TeamTest:GetRunningTeamTestGames"]
				}
			}
		},
		"/v1/toolbox/items": {
			"get": {
				"tags": ["Toolbox2014"],
				"summary": "toolbox items discovering",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "category",
						"in": "query",
						"description": "",
						"required": true,
						"type": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "",
						"required": false,
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "",
						"required": false,
						"type": "string"
					},
					{
						"name": "creatorId",
						"in": "query",
						"description": "user id or group id",
						"required": false,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "num",
						"in": "query",
						"description": "20 by default",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "page",
						"in": "query",
						"description": "1 by default",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "groupId",
						"in": "query",
						"description": "",
						"required": false,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "creatorType",
						"in": "query",
						"description": "1 for user, 2 for group",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "cacheMode",
						"in": "query",
						"required": false,
						"type": "string",
						"enum": ["Normal", "Bypass", "ForceUpdate"]
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.Response.ToolboxItemsResponse"
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Toolbox2014:GetAssets"]
				}
			}
		},
		"/v1/universes/{universeId}": {
			"get": {
				"tags": ["Universes"],
				"summary": "Gets a {Roblox.Api.Develop.Models.UniverseModel}.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The Universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UniverseModel"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniverse"]
				}
			}
		},
		"/v1/universes/{universeId}/assets/{assetId}/symbolic-links": {
			"get": {
				"tags": ["Packages"],
				"summary": "Gets all symbolic links for all versions of an asset existing for the places in a specified universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The id of the universe.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetId",
						"in": "path",
						"description": "The id of the asset the symbolic links are pointing to.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by the guids of the symbolic links.",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.SymbolicLink]"
						}
					},
					"400": {
						"description": "6: The referenced asset is not a package."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "11: Authenticated user does not have read permissions or UseView package permission."
					},
					"404": {
						"description": "3: The referenced asset does not exist.\r\n9: Game does not exist."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Use GET /v1/universes/{universeId}/packages instead",
					"metricIds": ["Packages:GetSymbolicLinksForUniverseAndAsset"]
				}
			}
		},
		"/v1/universes/{universeId}/configuration": {
			"get": {
				"tags": ["UniverseSettings"],
				"summary": "Get settings for an owned universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UniverseSettingsResponse"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: You are not authorized to configure this universe."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["UniverseSettings:GetUniverseSettings"]
				}
			},
			"patch": {
				"tags": ["UniverseSettings"],
				"summary": "Update universe settings for an owned universe.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universeId.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "model",
						"in": "body",
						"description": "The {Roblox.Api.Develop.Models.UniverseSettingsRequest} model.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UniverseSettingsRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UniverseSettingsResponse"
						}
					},
					"400": {
						"description": "1: The universe does not exist.\r\n3: Invalid UniverseAvatarType.\r\n4: Invalid UniverseScaleType.\r\n5: Invalid UniverseAnimationType.\r\n6: Invalid UniverseCollisionType.\r\n7: New universe name or description has been rejected.\r\n8: New universe name is too long.\r\n10: Invalid UniverseBodyType.\r\n11: Invalid UniverseJointPositioningType.\r\n12: The universe has no root place.\r\n13: At least one playable device must be provided.\r\n15: Price is required when isForSale is true.\r\n16: This game cannot be offered for sale because it is not public.\r\n17: This game cannot be offered for sale because it has private servers enabled.\r\n18: The game price is outside of the allowed range.\r\n19: Invalid genre.\r\n20: The request body is missing.\r\n21: Invalid device type.\r\n22: Invalid asset type.\r\n23: Invalid value, the min must be less than or equal to the max\r\n24: Invalid scale value"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n2: You are not authorized to configure this universe.\r\n14: You are not authorized to sell games."
					},
					"409": {
						"description": "9: Failed to shutdown all intances of game after changing AvatarType. The change has been reverted."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["UniverseSettings:UpdateUniverseSettings"]
				}
			}
		},
		"/v1/universes/{universeId}/configuration/vip-servers": {
			"get": {
				"tags": ["UniverseSettings"],
				"summary": "Get settings for an owned universe's VIP servers.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.PrivateServerDetailsResponse"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "2: You are not authorized to configure this universe."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["UniverseSettings:GetPrivateServerDetails"]
				}
			}
		},
		"/v1/universes/{universeId}/context-permissions": {
			"get": {
				"tags": ["Universes"],
				"summary": "Returns list of granted and declined permissions related to the universe with the id {universeId} for authenticated user specified in the request context",
				"description": "This endpoint will be called by developer-subscriptions-service to verify universe permissions via request context.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UniversePermissionsModel"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Universes:GetUniversePermissionsByRequestContext"]
				}
			}
		},
		"/v1/universes/{universeId}/developerproducts": {
			"get": {
				"tags": ["DeveloperProducts"],
				"summary": "gets developer products for a universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "pageNumber",
						"in": "query",
						"description": "Page number.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Number of developer products per page.",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Roblox.Api.Develop.DeveloperProductResponse"
							}
						}
					},
					"400": {
						"description": "5: Universe not found.\r\n7: Shop id is not found.\r\n12: The page number must be greater than 0."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"500": {
						"description": "8: Unknown error occurred."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["DeveloperProducts:GetDeveloperProductsByUniverseIdPaged"]
				}
			},
			"post": {
				"tags": ["DeveloperProducts"],
				"summary": "Creates a Developer Product.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "name",
						"in": "query",
						"description": "The name of the developer product.",
						"required": true,
						"type": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "The description of the developer product.",
						"required": true,
						"type": "string"
					},
					{
						"name": "priceInRobux",
						"in": "query",
						"description": "Price of the dev product in robux.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "iconImageAssetId",
						"in": "query",
						"description": "Asset id of the image to be used as an icon.",
						"required": false,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.DeveloperProductResponse"
						}
					},
					"400": {
						"description": "4: Developer product name already exists in the universe.\r\n9: Price in robux can not be negative."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n2: Product is created by another user.\r\n6: User doesn't have access to universe."
					},
					"404": {
						"description": "5: Universe not found.\r\n7: Shop id is not found."
					},
					"429": {
						"description": "11: Too many requests made in a short time. Wait for a little bit and try again."
					},
					"500": {
						"description": "8: Unknown error occurred."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["DeveloperProducts:CreateDeveloperProduct"]
				}
			}
		},
		"/v1/universes/{universeId}/icon": {
			"get": {
				"tags": ["Icon"],
				"summary": "Get the game icon.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The id of the universe to get the icon for.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.IconResponse"
						}
					},
					"400": {
						"description": "4: This universe does not have a root place."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					},
					"404": {
						"description": "2: The universe does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Icon:GetIcon"]
				}
			},
			"post": {
				"tags": ["Icon"],
				"summary": "Changes the game icon type.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "request",
						"in": "body",
						"description": "The request body containing the icon type.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.IconRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "1: The request body is missing.\r\n4: This universe does not have a root place."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n3: You are not authorized to configure this universe."
					},
					"404": {
						"description": "2: The universe does not exist."
					},
					"429": {
						"description": "5: The icon of this universe is being updated too often."
					},
					"503": {
						"description": "0: An unexpected error has occured."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Icon:UpdateIcon"]
				}
			}
		},
		"/v1/universes/{universeId}/live-stats": {
			"get": {
				"tags": ["Universes"],
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.LiveStatsResponseModel"
						}
					},
					"400": {
						"description": "1: The universe does not exist.\r\n2: This universe does not have a root place."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetLiveStats"]
				}
			}
		},
		"/v1/universes/{universeId}/packages": {
			"get": {
				"tags": ["Packages"],
				"summary": "Gets all existing packages, which the current user can access (with UseView permission) in a universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The id of the universe.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by the guids of the symbolic links.",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.SymbolicLinkV3]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "11: Authenticated user does not have read permissions or UseView package permission."
					},
					"404": {
						"description": "9: Game does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Packages:GetPackagesInUniverseAsync"]
				}
			}
		},
		"/v1/universes/{universeId}/permissions": {
			"get": {
				"tags": ["Universes"],
				"summary": "Returns list of granted and declined permissions related to the universe with the id {universeId} for authenticated user",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UniversePermissionsModel"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniversePermissions"]
				}
			}
		},
		"/v1/universes/{universeId}/places": {
			"get": {
				"tags": ["Universes"],
				"summary": "Gets a list of places for a universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The asset id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by placeId",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.IPlaceModel]"
						}
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniversePlaces"]
				}
			}
		},
		"/v1/universes/{universeId}/revenue-reports": {
			"get": {
				"tags": ["Universes"],
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.RevenueReportStatusListResponse"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					},
					"503": {
						"description": "14: The feature is disabled."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniverseRevenueReportsList"]
				}
			}
		},
		"/v1/universes/{universeId}/revenue-reports/{yearDashMonth}": {
			"get": {
				"tags": ["Universes"],
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "yearDashMonth",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.MonthlyRevenueReportStatus"
						}
					},
					"400": {
						"description": "1: The universe does not exist.\r\n10: Report name is invalid: \r\n11: No report found by this name: "
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					},
					"503": {
						"description": "14: The feature is disabled."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniverseRevenueReportsList"]
				}
			}
		},
		"/v1/universes/{universeId}/revenue-reports/{yearDashMonth}/download": {
			"get": {
				"tags": ["Universes"],
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "yearDashMonth",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"400": {
						"description": "1: The universe does not exist.\r\n10: Report name is invalid: \r\n11: No report found by this name: \r\n13: Your game may not have any transactions during this time period."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					},
					"503": {
						"description": "14: The feature is disabled."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:DownloadRevenueReport"]
				}
			}
		},
		"/v1/universes/{universeId}/statistic-reports": {
			"get": {
				"tags": ["Universes"],
				"summary": "Lists all months and years for which universe statistics are available.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.GameStatsListResponse"
						}
					},
					"400": {
						"description": "1: The universe does not exist."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniverseStatisticsReportsListAsync"]
				}
			}
		},
		"/v1/universes/{universeId}/statistic-reports/{yearDashMonth}": {
			"get": {
				"tags": ["Universes"],
				"summary": "Retrieves the status of a spreadsheet with universe statistics for a given month.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "yearDashMonth",
						"in": "path",
						"description": "Four digit year and two digit month of data to retrieve.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.DevMetrics.Models.ReportStatusResult"
						}
					},
					"400": {
						"description": "1: The universe does not exist.\r\n10: Report name is invalid: "
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					},
					"404": {
						"description": "11: No report found by this name: "
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniverseStatisticsReportStatusAsync"]
				}
			}
		},
		"/v1/universes/{universeId}/statistic-reports/{yearDashMonth}/download": {
			"get": {
				"tags": ["Universes"],
				"summary": "Retrieves a spreadsheet with universe statistics for a given month.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "yearDashMonth",
						"in": "path",
						"description": "Four digit year and two digit month of data to retrieve.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"400": {
						"description": "1: The universe does not exist.\r\n10: Report name is invalid: "
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "3: You are not authorized to configure this universe."
					},
					"404": {
						"description": "11: No report found by this name: "
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetUniverseStatisticsReportDownloadAsync"]
				}
			}
		},
		"/v1/universes/{universeId}/symbolic-links": {
			"get": {
				"tags": ["Packages"],
				"summary": "Gets all symbolic links existing for the places in a specified universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The id of the universe.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by the guids of the symbolic links.",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.ISymbolicLink]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "11: Authenticated user does not have read permissions or UseView package permission."
					},
					"404": {
						"description": "9: Game does not exist."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Use GET /v1/universes/{universeId}/packages instead",
					"metricIds": ["Packages:GetSymbolicLinksForUniverse"]
				}
			}
		},
		"/v1/universes/{universeId}/teamcreate": {
			"get": {
				"tags": ["TeamCreate"],
				"summary": "Gets TeamCreate settings for an {Roblox.Platform.Universes.IUniverse}.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.Response.TeamCreateSettingsResponse"
						}
					},
					"400": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.InvalidUniverse}"
					},
					"403": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.Unauthorized}"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["TeamCreate:GetTeamCreateSettings"]
				}
			},
			"post": {
				"tags": ["TeamCreate"],
				"summary": "Edit team create settings for a universe.",
				"description": "This endpoint was added for studio support because studio does not support PATCH.\r\n<br />\r\nTODO: Remove when studio supports PATCH.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "request",
						"in": "body",
						"description": "The request body containing the team create settings.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UpdateTeamCreateSettingsRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.InvalidUniverse}"
					},
					"403": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.Unauthorized}\r\n0: Token Validation Failed"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"deprecated": true,
				"properties": {
					"internal": true,
					"obsoleteMessage": "Please update consumers to use X-Http-Method-Override request header on PATCH endpoint.",
					"metricIds": ["TeamCreate:SetTeamCreateSettingsPost"]
				}
			},
			"patch": {
				"tags": ["TeamCreate"],
				"summary": "Edit team create settings for a universe.",
				"description": "Enables, or disables team create for a universe.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "request",
						"in": "body",
						"description": "The request body containing the team create settings.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.UpdateTeamCreateSettingsRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.InvalidUniverse}"
					},
					"403": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.Unauthorized}\r\n0: Token Validation Failed"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["TeamCreate:SetTeamCreateSettings"]
				}
			}
		},
		"/v1/universes/{universeId}/teamcreate/memberships": {
			"get": {
				"tags": ["TeamCreate"],
				"summary": "List of users allowed to TeamCreate a universe.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "TeamCreate membership grant date",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.UserResponse]"
						}
					},
					"400": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.InvalidUniverse}"
					},
					"403": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.TeamCreateDisabled}"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["TeamCreate:GetTeamCreateMembershipsByUniverse"]
				}
			},
			"delete": {
				"tags": ["TeamCreate"],
				"summary": "Removes a user from a TeamCreate permissions list.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "universeId",
						"in": "path",
						"description": "The universe Id.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "request",
						"in": "body",
						"description": "The request body.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.TeamCreateMembershipRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.InvalidUniverse} OR {Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.InvalidUser}"
					},
					"403": {
						"description": "{Roblox.Api.Develop.ResponseEnums.TeamCreateErrors.TeamCreateDisabled}\r\n0: Token Validation Failed"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["TeamCreate:DeleteTeamCreateMembership"]
				}
			}
		},
		"/v1/universes/multiget": {
			"get": {
				"tags": ["Universes"],
				"summary": "Gets a {System.Collections.Generic.List`1}.",
				"description": "If a universe can not be found for a given ID (such as -1) it will be skipped.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "ids",
						"in": "query",
						"description": "The universe IDs to get. Limit 100.",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "multi"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.Models.UniverseModel]"
						}
					},
					"400": {
						"description": "8: No universe IDs sent to get.\r\n9: Too many universe IDs sent to get, the limit is: "
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:GetMultiUniverses"]
				}
			}
		},
		"/v1/universes/multiget/permissions": {
			"get": {
				"tags": ["Universes"],
				"summary": "Returns an array of granted and declined permissions related to the universes with the ids in {ids} for the authenticated user.",
				"description": "If a universe can not be found for a given ID (such as -1) it will be skipped.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "ids",
						"in": "query",
						"description": "The universe ids.",
						"required": true,
						"type": "array",
						"items": {
							"type": "integer",
							"format": "int64"
						},
						"collectionFormat": "multi"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.Models.UniverseIdPermissionsModel]"
						}
					},
					"400": {
						"description": "8: No universe IDs sent to get.\r\n9: Too many universe IDs sent to get, the limit is: "
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["Universes:MultiGetUniversePermissions"]
				}
			}
		},
		"/v1/user/{userId}/is-admin-developer-console-enabled": {
			"get": {
				"tags": ["User"],
				"summary": "Check if admin dev console is enabled for user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "userId",
						"in": "path",
						"description": "The id of the user.",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.GetIsAdminDeveloperConsoleEnabledResponse"
						}
					},
					"404": {
						"description": "4: Argument error."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["User:GetIsAdminDeveloperConsoleEnabled"]
				}
			}
		},
		"/v1/user/groups/canmanage": {
			"get": {
				"tags": ["User"],
				"summary": "Gets a list of Groups that a user can manage.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.Models.GroupModel]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["User:GetManagableGroups"]
				}
			}
		},
		"/v1/user/is-verified-creator": {
			"get": {
				"tags": ["User"],
				"summary": "Check if the current user is a verified creator",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.GetIsVerifiedCreatorResponse"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["User:GetIsVerifiedCreator"]
				}
			}
		},
		"/v1/user/notifications/statistic-reports": {
			"get": {
				"tags": ["User"],
				"summary": "Gets a list of DeveloperMetricsAvailable notifications for the authenticated user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.DevMetrics.Models.INotification]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["User:GetUserNotificationsOfTypeDeveloperMetricsAvailable"]
				}
			}
		},
		"/v1/user/studiodata": {
			"get": {
				"tags": ["User"],
				"summary": "Retrieves a JSON object from persistant storage.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "clientKey",
						"in": "query",
						"description": "A Key to find this data under. Optional.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No data was found.",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["User:GetUserStudioData"]
				}
			},
			"post": {
				"tags": ["User"],
				"summary": "Saves a JSON object to persistent storage.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "data",
						"in": "body",
						"description": "The data.",
						"required": true,
						"schema": {
							"type": "object"
						}
					},
					{
						"name": "clientKey",
						"in": "query",
						"description": "A Key to save this data under. Optional.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiSuccessResponse"
						}
					},
					"400": {
						"description": "No data was sent or the data could not be parsed as JSON"
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed"
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["User:SetUserStudioData"]
				}
			}
		},
		"/v1/user/teamcreate/memberships": {
			"get": {
				"tags": ["TeamCreate"],
				"summary": "List of universes the authenticated user has permission to TeamCreate.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "sortOrder",
						"in": "query",
						"description": "TeamCreate membership grant date",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.UniverseModel]"
						}
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["TeamCreate:GetUserTeamCreateMemberships"]
				}
			}
		},
		"/v1/user/universes": {
			"get": {
				"tags": ["User"],
				"summary": "Gets a list of universes for the authenticated user.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "isArchived",
						"in": "query",
						"description": "Whether or not to return archived games.",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "sortOrder",
						"in": "query",
						"description": "Sorted by universeId",
						"required": false,
						"type": "string",
						"default": "Asc",
						"enum": ["Asc", "Desc"]
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The amount of results per request.",
						"required": false,
						"type": "integer",
						"format": "int32",
						"default": 10,
						"enum": [10, 25, 50, 100]
					},
					{
						"name": "cursor",
						"in": "query",
						"description": "The paging cursor for the previous or next page.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiPageResponse[Roblox.Api.Develop.Models.UniverseModel]"
						}
					},
					"400": {
						"description": "cursor is not valid."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["User:GetUserUniverses"]
				}
			}
		},
		"/v1/assets/{assetId}/archive": {
			"post": {
				"tags": ["Assets"],
				"summary": "Archives an asset if not already archived.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "Id of the asset",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "4: Asset type is not supported by the requested operation."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:ArchiveAsset"]
				}
			}
		},
		"/v1/assets/{assetId}/restore": {
			"post": {
				"tags": ["Assets"],
				"summary": "Un-archive (Restore) an asset.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "Id of the asset",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "4: Asset type is not supported by the requested operation."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:RestoreAsset"]
				}
			}
		},
		"/v1/assets/{assetId}/revert-version": {
			"post": {
				"tags": ["Assets"],
				"summary": "Reverts to an older version of an asset. This actually spawns new version of asset with a specified older one.",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "ID of the asset.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetVersionNumber",
						"in": "query",
						"description": "Asset version number to be reverted.",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "4: Asset type is not supported by the requested operation."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n3: Authenticated user does not have permissions to manage the asset."
					},
					"404": {
						"description": "1: The referenced asset does not exist.\r\n2: The referenced asset version does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Assets:RevertAssetVersion"]
				}
			}
		},
		"/v1/gameUpdateNotifications/filter": {
			"post": {
				"tags": ["GameUpdateNotifications"],
				"summary": "Filters game update text.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "gameUpdateText",
						"in": "body",
						"description": "Game update message text.",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"400": {
						"description": "Called with invalid arguments."
					},
					"500": {
						"description": "The text filter service is unavailable."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed"
					}
				},
				"properties": {
					"internal": false,
					"metricIds": ["GameUpdateNotifications:FilterGameUpdateText"]
				}
			}
		},
		"/v1/packages/assets/{assetId}/versions/{assetVersionNumber}": {
			"post": {
				"tags": ["Packages"],
				"summary": "Sets the package metadata for an asset version. This turns an assetversion into a package version.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "assetId",
						"in": "path",
						"description": "The asset the version belongs to.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "assetVersionNumber",
						"in": "path",
						"description": "the version id the package metadata should be written to.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "request",
						"in": "body",
						"description": "The request.",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.SetAssetVersionMetadataRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.ApiEmptyResponseModel"
						}
					},
					"400": {
						"description": "7: The referenced AssetVersion already had metadata set previously.\r\n12: Commit message is null.\r\n13: Commit message is too long."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n6: Authenticated user does not have Edit permission."
					},
					"404": {
						"description": "3: The referenced asset does not exist.\r\n4: The referenced version of the asset does not exist."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Packages:SetAssetPackageMetadataAsync"]
				}
			}
		},
		"/v1/packages/assets/versions/metadata/get": {
			"post": {
				"tags": ["Packages"],
				"summary": "Gets the package metadata for a list of versions of assets. Supports a maximum of 25 objects per request.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "requests",
						"in": "body",
						"description": "The list of asset id and asset version number to query package metadata.",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Roblox.Api.Develop.GetAssetPackageMetadataRequest"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Api.Develop.PackageAssetMetadata]"
						}
					},
					"400": {
						"description": "1: The request body is missing.\r\n15: Too many asset versions were specified in a single operation.\r\n18: Duplicate assets specified for this request."
					},
					"401": {
						"description": "0: Authorization has been denied for this request."
					},
					"403": {
						"description": "0: Token Validation Failed\r\n7: Authenticated user does not have UseView permission."
					}
				},
				"properties": {
					"internal": true,
					"metricIds": ["Packages:GetAssetPackageMetadataAsync"]
				}
			}
		},
		"/v1/places/{placeId}": {
			"post": {
				"tags": ["Places"],
				"summary": "Updates the place configuration for the place with the id {placeId}",
				"description": "Currently the only supported functionality for updating the configuration is around Name, and Description.",
				"consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
				"produces": ["application/json", "text/json"],
				"parameters": [
					{
						"name": "placeId",
						"in": "path",
						"description": "The place id for the place to be updated.",
						"required": true,
						"type": "integer",
						"format": "int64"
					},
					{
						"name": "configuration",
						"in": "body",
						"description": "",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.PlaceConfigurationModel"
						}
					}
				],
				"responses": {
					"200": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/Roblox.Api.Develop.Models.PlaceModel"
						}
					},
					"400": {
						"description": "{placeId} is invalid."
					},
					"403": {
						"description": "Authenticated user is not authorized to manage this place.\r\n0: Token Validation Failed"
					},
[...]
