<%- include("PageMetaTags.html", {MetaTagListViewModel, IUser, IUserAuthenticated, ISessionUser, Default, PageMetadata}) %> <%-
include("JS/BundleDetector.html", {urlMetadata}) %><link
	rel="icon"
	href="https://images.rbxcdn.com/23421382939a9f4ae8bbe60dbe2a3e7e.ico.gzip"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="StyleGuide"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/e5781cb0d5d669eb50e8739813253ceb7224cfc55a3e87478d56847ab4a6507e.css"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="Thumbnails"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/dec2100f52214e6eb0c8f49a097a8a84797ed33125f4a12ad7b48ca7a9dcb341.css"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="VerificationUpsell"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/f8cdef9411c715490d44f28636c1827d6bb75968d9fc2498b9f8be7769aa1c61.css"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="Navigation"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/50022bff26efaae4887eb23d4337cdcf78eb4c7e95fde2bd0b0dd962572d2243.css"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="Footer"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/0679bc187827027ec36129a841a744897ab34d9e100a48f32f3191e90d5047d6.css"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="ConfigureWebApps"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/d3eaae41fcf2a436ccd083ee82f13474327ebaa97fc544974e5ac3449dd4e33b.css"
/>
<link
	rel="canonical"
	href="https://www.sitetest4.robloxlabs.com/login/maintenance?ReturnUrl=https%3a%2f%2fwww.sitetest3.robloxlabs.com%2f"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="CookieConstraint"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/037fb8ca3f7315582e7e58889c592b4916b73fb34f60e1c97be8d3b8fe45a1f9.css"
/>
<link
	rel="stylesheet"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-bundlename="RobuxIcon"
	data-bundle-source="Main"
	href="https://css.rbxcdn.com/d54c0248f0ca2d30095e96e752fc86b728bf4b2840605e1e1ada6dd906648979.css"
/><%- include("JS/EnvironmentUrls.html", {urlMetadata}) %> <%- include("JS/GaEventsSettings.html") %>
<!-- Script bundle: headerinit -->
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/jquery/jquery-1.11.1.min.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/jquery/jquery-migrate-1.2.1.min.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/Microsoft/MicrosoftAjax.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/roblox.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/common/constants.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/jquery.cookie.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/utilities/performance.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/RobloxCookies.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/utilities/minifyTestFile.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/RobloxEventStream.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/Events/UserInteractionsEvent.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/Events/PageHeartbeatEvent.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/services/userService.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/services/metaDataValues.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/utilities/localStorage.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/utilities/ExponentialBackoff.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/utilities/ExponentialBackoffSpecification.js"
></script>
<script
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	type="text/javascript"
	src="/js/Reference/themeUpdate.js"
></script>

<script
	type="text/javascript"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-monitor="true"
	data-bundlename="Polyfill"
	data-bundle-source="Main"
	src="https://js.rbxcdn.com/e01f6b22b565ed6f987cdc7616f3c4dfd2dc422aaf5ba760860e10b1d972e1c1.js"
></script>

<script
	type="text/javascript"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-monitor="true"
	data-bundlename="XsrfProtection"
	data-bundle-source="Main"
	src="https://js.rbxcdn.com/90489d38bf2a230a9d744e79da8a606a55a678238272381a258f0f3f0ee6bafd.js"
></script>

<script
	type="text/javascript"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-monitor="true"
	data-bundlename="HeaderScripts"
	data-bundle-source="Main"
	src="https://js.rbxcdn.com/20ca2b5f08e257a5f1dbb380504e8113aea7004749d54998af4d65ae0b1b9a73.js"
></script>

<meta
	name="sentry-meta"
	data-env-name="sitetest3"
	data-dsn="https://6750adeb1b1348e4a10b13e726d5c10b@sentry.io/1539367"
	data-sample-rate="0.1"
/>
<script
	type="text/javascript"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-monitor="true"
	data-bundlename="Sentry"
	data-bundle-source="Main"
	src="https://js.rbxcdn.com/51989ce436c3c5e6fad60901860a475dac041b97c9ce887364b352f2c794da65.js"
></script>

<meta
	name="roblox-tracer-meta-data"
	data-access-token="SIyZ5LfLkqXURNj6Y6j867iNKfgSrzG+L3NrG/PDfjBOtqMfmSL8yZ+2fVCnzP+O0P4TiM83QEqlbHOpiM+8Ne98lM0aNHSyFAmLJobK"
	data-service-name="Web-FE"
	data-tracer-enabled="false"
	data-api-sites-request-allow-list="friends.sitetest3.robloxlabs.com,chat.sitetest3.robloxlabs.com,thumbnails.sitetest3.robloxlabs.com,games.sitetest3.robloxlabs.com"
	data-sample-rate="100"
	data-is-instrument-page-performance-enabled="true"
/>
<script
	type="text/javascript"
	onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
	data-monitor="true"
	data-bundlename="RobloxTracer"
	data-bundle-source="Main"
	src="https://js.rbxcdn.com/301c59adc1a33e5d2f7b074cb3e2a2b4889d07b5b12bba525d455679829a5c72.js"
></script>

<!--[if lt IE 9]>
	<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<%- include("JS/DoNotTrack.html") %> <%- include("JS/EventStream.html", {urlMetadata}) %> <%- include("JS/Endpoints.html", {urlMetadata}) %>
<%- include("JS/AbuseReportPVMetadata.html") %> <%- include("Meta/ThumbMeta.html") %>
