<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Nomad</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta
			name="nomad-ui/config/environment"
			content="%7B%22modulePrefix%22%3A%22nomad-ui%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22%2Fui%2F%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%2C%22_APPLICATION_TEMPLATE_WRAPPER%22%3Afalse%2C%22_DEFAULT_ASYNC_OBSERVERS%22%3Atrue%2C%22_JQUERY_INTEGRATION%22%3Afalse%2C%22_TEMPLATE_ONLY_GLIMMER_COMPONENTS%22%3Atrue%7D%2C%22APP%22%3A%7B%22blockingQueries%22%3Atrue%2C%22mirageScenario%22%3A%22smallCluster%22%2C%22mirageWithNamespaces%22%3Atrue%2C%22mirageWithTokens%22%3Atrue%2C%22mirageWithRegions%22%3Atrue%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Atrue%2C%22useDefaultPassthroughs%22%3Atrue%7D%2C%22exportApplicationGlobal%22%3Afalse%7D"
		/>

		<link rel="stylesheet" href="/ui/assets/vendor-58528c73a86cdadc6a8367c4b74ae037.css" />
		<link rel="stylesheet" href="/ui/assets/nomad-ui-5bd05501e56602fdfc525f01a3d3154f.css" />
		<link rel="icon" type="image/png" href="/ui//favicon-1c2527a7a07d130ecbafce75e4615a69.png" />
	</head>
	<body>
		<script src="/ui/assets/vendor-d2fb412b5d1fc4eae9847911d7e5013a.js"></script>
		<script src="/ui/assets/nomad-ui-60d79009ae909f1b761d87aedcd0f135.js"></script>

		<div id="ember-basic-dropdown-wormhole"></div>
	</body>
</html>
