<!DOCTYPE html>
<html>
	<head>
		<title>Roblox.com</title>
		<style type="text/css">
			body {
				margin: 0;
			}
			body.banner {
				text-align: center;
			}
			a {
				color: gray;
				text-decoration: none;
			}
			a.ad {
				display: inline-block;
			}
			body.other a.ad {
				display: block;
			}
			a.ad img {
				display: block;
				border: none;
			}
			a:hover {
				text-decoration: underline;
			}
		</style>

		<link
			onerror="Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)"
			rel="stylesheet"
			href="https://static.rbxcdn.com/css/page___780ee1e6c9f29e631558d25738ff3124_m.css/fetch"
		/>
	</head>
	<body class="abp banner">
		<a
			class="ad"
			title="Get Builders Club and Be Rich on Roblox"
			href="https://www.sitetest4.robloxlabs.com/userads/redirect?data=ODU3NDM0NXwvZ3JvdXBzLzU4OTgzMzk1"
			target="_top"
		>
			<img
				src="https://images.rbxcdn.com/bb3b528306366a8b1a5a6ca40ead504a.png"
				alt="Get Builders Club and Be Rich on Roblox"
				height="90"
				width="728"
			/>
		</a>

		<div class="ad-annotations" style="width: 728px">
			<span class="ad-identification">
				<span class="ad-identification-text">Advertisement</span>
			</span>
			<a
				class="BadAdButton"
				target="_top"
				href="https://www.sitetest4.robloxlabs.com/abusereport/Asset?id=-1"
				title="click to report an offensive ad"
				>Report</a
			>
		</div>
	</body>
</html>
