.unifiedModal {
	background-color: #e1e1e1;
	font: 700 27px Arial;
	letter-spacing: -2px;
	color: #363636;
	border: 2px solid #272727;
	text-align: center;
	position: relative;
}
.unifiedModalContent {
	text-align: left;
	background-color: White;
	color: #000;
	font: Bold 15px Arial;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	letter-spacing: normal;
}
.unifiedModalSubtext {
	color: #666;
	font: 700 12px Arial;
	border: none;
	letter-spacing: normal;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 5px;
}
.smallModal {
	width: 425px;
}
.closeBtnCircle_20h:hover {
	background-position: 0 20px;
}
.closeBtnCircle_20h {
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	background: url(/images/Buttons/btn-x.png);
}
.unifiedModal .smallModal .closeBtnCircle_20h {
	margin-left: 395px;
}
