.Name {
    width: 200px;
}
.Status 
{
    width: 100px;
}
.Index.StandardDividerBottom {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
}

.GenericForm .label {
    font-weight: bold;
    display: block;
    position: absolute;
    left: 0px;
    color: black;
    font-size: 100%;
}
.GenericForm .row {
    margin-bottom: 5px;
    position: relative;
    padding-left: 160px;
}
.GenericForm textarea {
    width: 300px;
    height: 100px;
}
.item-name {
    width: 200px;
    display: block;
    float: left;
}
.item-order {
    width: 70px;
}
.item-order input {
    width: 50px;
}
.item-row {
    clear: both;
}
input.item-order-submit {
    position: relative;
}
.note {
    font-size: 11px;
    margin-bottom: 10px;
}
.GenericForm {
    width: 600px;
}
.StandardDividerTop {
    padding-top: 5px;
}
input.long {
    width: 300px;
}
